.advantages {
	padding: 100px 0;
	position: relative;
	background-image: url('../../img/bg-two.jpg');
	background-position: center;
	background-repeat: no-repeat;
	&:before {
		content:'';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(255,255,255, 0.6);
		z-index: 1;
	}
}
.advantages-wrap {
	position: relative;
	max-width: 1170px;
	min-width: 1170px;
	margin: 0 auto;
	z-index: 2;
}
.advantages-part {
	display: flex;
	align-items: center;
}
.advantages-small-block {
	display: flex;
	width: 33.3333%;
	margin: 20px 10px 0 0;
}
.small-block__img {
	margin: 10px;
}
.small-block__head {
	color: #009E1C;
	margin: 20px 0 0 0;
}
.small-block__underline {
	display: block;
	height: 5px;
	width: 100px;
	background-color: #BDE7CB;
	margin: 10px 0;
}
.small-block__text {
	color: #404040;
	line-height: 24px;
}