.contacts-on-page {
	position: relative;
	z-index: 1;
	margin-top: -230px;

}
.map {
	position: relative;
	min-width: 1166px;
	height: 900px;
	margin: 0 auto;
	border-top: 2px solid #ECECEC;
}
.to-call-on-page {
	position: absolute;
	top:30%;
	right: 0;
	transform: translateY(-50%);
	background-color: #ECECEC;
	padding: 3rem 2rem;
	font-size: 20px;
}
.to-call {
	position: absolute;
	top:30%;
	left: 0;
	transform: translateY(-50%);
	background-color: #ECECEC;
	padding: 3rem;
}
.address {
	margin: 10px;
	font-weight: bold;
	color: #3291A3;
	text-decoration: none;
	padding: 0 16px;
}
.contact-nav__link{
	display: block;
	margin: 10px;
	font-weight: bold;
	color: #3291A3;
	text-decoration: none;
	padding: 0 16px;
	&:before {

	}
	&:hover {
		color:#009E1C;
	}
}
.address {
	color: #000;
}