* {
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;	
}
body {
	min-width: 1170px;
}
.video-background {
	background-image: url('../../img/bg-head.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;
	width:100%;
    height:800px;
    overflow: hidden;
}
.hide-video {
	display: none;
}
.section-header {
	position: relative;
	min-width: 1170px;
	text-align: center;
	z-index: 2;
	padding: 50px 0 0 0;
}
.section-header__head {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 5px;
	font-size: 40px;
	margin: 0;
	padding-bottom: 20px;
}
.section-header__discr {
	display: block;
	width: 50%;
	margin: 0 auto;
	color: #b2b2b2;
	line-height: 24px;
}
.active-link {
	color: #009E1C;
}
/*-----------------------POPUP-----------------------------*/

.pop-up {
	position: absolute;
	display: block;
	background-image: url('../../img/logo.png');
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #fff;
	top:-110%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
	transition: all 0.5s;
	visibility: hidden;
	&:before {
		content:'';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(228,228,228,0.7);
	}

}
.call-back--pop-up {
	position: fixed;
	top: 10%;
	visibility: visible;
}
.dark {
	position: relative;
	transition: all 0.5s;
	&:before {
		content:'';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0,0,0, 0.7);
		z-index: 8888;
	}
}
.pop-up-cont {
	position: relative;
	display: inline-block;
	padding: 20px;
}
.close-pop-up {
	position: absolute;
	text-align: center;
	font-family: 'conthraxsb', 'Arial', sans-serif;
	top: 10px;
	right: 10px;
	cursor: pointer;
	padding: 3px 6px;
	border: 1px solid #009E1C;
	color:#009E1C;
	font-weight: bold;
	vertical-align: middle;
	background: none;
	transition: all 0.3s;
	&:hover {
		background-color: #009E1C;
		border: 1px solid #009E1C;
		color: #fff;
	}
}
.pop-up-head {
	font-family: 'conthraxsb', 'Arial', sans-serif;
	color: #009E1C;
	margin-top: 30px;
	text-align: center;
}
.pop-up-text {
	display: block;
	color: #383838;
	line-height: 21px;
	text-align: center;
}
.input-tell--label {
	display: block;
	margin: 16px 0 5px 0;
	color: #000;
}
.input-tell {
	display: block;
	width: 100%;
	margin: 0 auto;
	font-size: 20px;
	border: 1px solid #009E1C;
	padding: 5px
}
.send-popup {
	margin: 16px auto;
	padding: 10px 20px;
	border: 1px solid #009E1C;
	color:#009E1C;
	font-weight: bold;
	vertical-align: middle;
	background: none;
	cursor: pointer;
	transition: all 0.3s;
	&:hover {
		background-color: #009E1C;
		border: 1px solid #fff;
		color: #fff;
	}
}

#return-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: rgb(0, 0, 0);
	background: rgba(0, 158, 28, 0.7);
	width: 50px;
	height: 50px;
	display: block;
	text-decoration: none;
	border-radius: 35px;
	display: none;
	transition: all 0.3s ease;
	z-index:9999;
}
#return-to-top i {
	color: #fff;
	margin: 0;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	top: 13px;
	font-size: 19px;
	transition: all 0.3s ease;
}
#return-to-top:hover {
	background: rgba(0, 158, 28, 0.9);
}
#return-to-top:hover i {
	color: #fff;
	top: 10px;
}
.icon-chevron-up {
	height: 20px;
	width: 20px;
	display: block;
	background-image: url('../../img/arrow-up.svg');
	background-size: cover;
}
/******in process******/
.in-process {
	position: fixed;
	top: 50%;
	right: 50%;
	left: 50%;
	bottom: 50%;
	background-color: rgba(38,38,38,0.7);
	z-index: 99999;
	overflow: hidden;
	transition: all 0.3s;
}
.in-process--open{
	top: 0;
	bottom: 0;
	left:0;
	right: 0;
}
.in-process__wrap {
	position: relative;
	top:50%;
	transform: translateY(-50%);
	width: 600px;
	/*height: 300px;*/
	margin: 0 auto;
	border: 2px solid #fff;
	padding: 2rem;
	background-color: #fff;
	background-image: url('../../img/logo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
		&:before {
			content:'';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(255,255,255, 0.7);
			z-index: -1;
		}
}
.in-process__input {
	display: block;
	padding: 10px;
	font-size: 18px;
	border: 1px solid #009E1C;
	width: 60%;
	margin: 10px 0;
}
.in-process--text {
	color: #323232;
	text-align: center;
}
.send-email {
	background: none;
	font-size: 18px;
	color:#009E1C;
	border: 1px solid #009E1C;
	padding: 11px 22px;
	transition: all 0.3s;
	cursor: pointer;
	&:hover {
		background-color: #009E1C;
		color: #fff;
		border: 1px solid #fff;
	}
}
.close-in-process {
	position: absolute;
	text-align: center;
	font-family: 'conthraxsb', 'Arial', sans-serif;
	top: 10px;
	right: 10px;
	cursor: pointer;
	padding: 3px 6px;
	border: 1px solid #009E1C;
	color:#009E1C;
	font-weight: bold;
	vertical-align: middle;
	background: none;
	transition: all 0.3s;
	&:hover {
		background-color: #009E1C;
		border: 1px solid #009E1C;
		color: #fff;
	}
}