.partners-wrap{
	max-width: 1170px;
	min-width: 1170px;
	margin: 0 auto;
}
.partner-container {
	width: 25%;
	text-align: right;
	outline: none;
}
.partner-place__logo {
	margin: 0 auto;

}
.partners-list {
	padding: 30px;
	margin-bottom: 50px;
}
.partner-place1 {
	margin-top:50px;
}
.partner-place3 {
	margin-top:50px;
}
.partner-place5 {
	margin-top:20px;
}
.partner-place6 {
	margin-top:50px;
}
.partner-place7 {
	margin-top:50px;
}
.partner-place9 {
	margin-top:50px;
}
.partner-place10 {
	margin-top:30px;
}
.partner-place11 {
	margin-top:50px;
}

.partner-place12 {
	margin-top:50px;
}

.partner-place13 {
	margin-top:50px;
}

.partner-place14 {
	margin-top:50px;
}
.partner-place15 {
	margin-top:50px;
}
