@media screen and (max-width: 900px) {
    .nav__link {
        font-size: 1.5vw;
    }
    .sertificates-wrapper__link_img {
        width: 30%;
    }
}
@media screen and (max-width: 760px) {
    .section-slider {
        background: none;
    }
    .search-form__input {
        width: 350px;
        margin-bottom: 20px;
    }
   .logo-communication-wrapper {
    width: 100%;
    text-align: center;
   }
   .logo {
    width: 100%;
    float: none;
    text-align:center;
   }
   .communications {
    max-width: 100%;
    float: none;
   }
   .language {
    float: none;
   }
   .social-media {
    float: none;
   }
}
@media screen and (max-width: 630px) {
    .contacts {
        font-size: 12px;
    }
    .footer__banner_img {
           width: 95%;
    }
     .nav__link {
        font-size: 10px;
    }
}
@media screen and (max-width: 450px) {
    .logo__image, .sertificate__logo, .footer__logo_img {
            width: 95%;
        }
}
@media screen and (max-width: 400px) {
     .sertificates-wrapper__link_img {
        width: 80%;
    }
    .search-form__input {
        width: 85%;
        margin-bottom: 20px;
    }
     .contacts {
        font-size: 10px;
    }
}