/************MAIN***************/
*
{
	margin: 0;
	padding: 0;
}
body 
{
	position: relative;
/*	max-width: 1366px;
margin: 0 auto;*/
}
.section-head header
{
	padding: 0;
}
/************SECTION ONE***************/
#section-one
{
	/*display: none;*/
}
.section-head
{
	width: 100%;
	background-image: url('../icons/background.jpg');
	background-size: cover;
	padding: 0;
}
.logo img
{
	margin-top: 5px;
	height: 40px;
	width: 90px;
}
.chat img
{
	margin-top: 5px;
	height: 40px;
	width: 45px;
	/*padding: 0;*/
}
.section-head .menu
{
	font-size: 45px;
	background: none;
	border: none;
	/*margin: 0 -15px;*/
	color: #fff;
	cursor: pointer;
}
.dropdown
{
	margin-bottom: 100px;
}
.openNav
{
	width: 400px !important;
}
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 23px;
}
.sidenav ul 
{
	min-width: 320px;
}
.sidenav ul li {
	margin: 5px 2em;
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #EFEFEF;
	transition: 0.3s

}
.sidenav ul li:nth-child(1)
{
	padding-bottom: 50px;
}
.sidenav li a
{
	text-decoration: none;
}
.sidenav li .menu-arrow
{
	height: 16px;
	width: 8px;
}
.sidenav li:hover p
{
	color: #B5B5B5;
}
.sidenav li input
{
	background-image: url("../icons/search1.png");
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-position: 93%;
	width: 85%;
	float: right;
	height: 50px;
	border: 1px solid #EFEFEF;
	vertical-align: top;
	padding-left: 20px;

}
.sidenav li .close-button
{
	padding: 10px 10px 0 0;

}
.sidenav li p
{
	margin: 20px 0 15px 0;
	font-size: 16px;
	color: #000;
}
.sidenav li .menu-arrow
{
	float: right;
}
.sidenav ul .divider
{
	margin-left:2em;
	margin-right: 2em;
}
.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	margin-left: auto;
	margin-right: auto; 
	width: 30%;
}
header .row
{
	margin: 30px 0 58px 0;
}
.arrow-row
{
	display: table;
	width: 100%;
}
.arrow-left
{
	background-image: url("../icons/black_left.png");
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	display: table-cell;
	float: none;
}

.arrow-center
{
	background-image: url("../icons/black_middle.png");
	background-position: center;
	background-repeat: repeat;
	background-size: contain;
	display: table-cell;
	float: none;
}

.arrow-right
{
	background-image: url("../icons/black_right.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	display: table-cell;
	float: none;
}

.arrow-center h1
{
	font-family: 'Roboto', sans-serif;
	font-size: 75px;
	padding: 1.5vw 0;
	margin: 0 0 0 3px;
	color: #fff;

	white-space: nowrap;
}
.arrow-center h2
{
	font-size: 25px;
	color: #fff;
	text-align: center;
	padding: 1vw 0;
	margin: 0.7% 0 0 0;
}
.arrow-center2 h2
{
	
}
.timer
{
	width: 400px;
	margin: 0 auto;
}
.timer-script
{
	/*margin-left: -200px;*/
}
div[id^="TextBox_jbeeb"] span
{
	color: #fff;
}
.up-to h1
{
	color: #FF3838;
	font-size: 75px;
	font-weight: bold;
	/*padding: 2vw 0;*/
	margin: 1vw 0 35px 0; 
}
.info
{
	font-size: 16px;
	color: #fff;
	padding: 50px 0 40px 0;
}

.footer-nav
{
	background-color: rgba(0,0,0,0.7);
}	
.list 
{
	list-style: none;
	margin:0;
	padding: 0;
	display: block;
}
.list li
{
	vertical-align: top;
	min-height: 80px;
	padding: 0;
}
.list li a
{
	text-decoration: none;
	color: #fff;
}
.list li:hover
{
	background-color: #222222;
}
.list li img
{
	float: left;
	margin: 1.5vw;
	vertical-align: middle;
}
.list li:nth-child(3) p
{
	margin: 1.1vw 2vw;
}
.list li p
{
	margin: 2vw 0.8vw;
	padding: 0 1vw;
	font-size: 18px;
	/*text-align: justify;*/
	/*float: right;*/
}
/************SECTION OVER***************/
#section-over
{
	display: none;
}
.over-log h1
{
	font-size: 5vw;
	font-weight: bold;
}
.offers-wrapper
{
	padding: 0;
	margin: 50px 0;
} 
.over-log .offers
{
	position: relative;
	border: 1px solid #fff;
	height: 60px;
	width: 400px;
	margin-top: 5vw;
	margin-bottom: 5vw;
	text-align: center; 
	margin: 0 auto;

}
.over-log .offers a
{
	position: absolute;
	font-size: 15px;
	left: 3%;
	top: 30%;
	color: #fff;
	text-decoration: none;
	white-space: nowrap;
	vertical-align: middle;
}
.endOfEvent
{
	display: none;
}
/************SECTION TWO***************/
#section-two
{
	background-color: #F7FAFC;
}
.header-section-two
{
	margin: 5% 0;
}
.flash ul
{
	text-align: center;
}
.flash ul li
{
	display: inline-block;
	vertical-align: middle;
}
.flash ul li:nth-child(2)
{
	margin-left: 3vw;
}
.flash ul li:nth-child(2) p
{
	max-width: 250px;
	width: 17vw; 
}
.section-two-header-text p
{
	font-size: 65px;
	font-weight: bold;
	color: #333333;
}
.section-two-header-precents
{
	background-image: url("../icons/labe.png");
	background-repeat: no-repeat;
	background-size: contain;
	padding: 0;
	/*float: right;*/
}
.section-two-header-precents p
{
	font-size: 60px;
	color: #FF3838;
	padding: 3% 10% 0 0;
	font-weight: bold;
}
.modems
{
	border: 1px solid #E5E5E5;
	padding: 0 10px;
	background-color: #fff;
}
.modems-top
{
	min-height: 190px;
	max-height: 190px;
	margin: 20px;
	border-bottom: 1px solid  #E5E5E5;
}
.modems-top h4
{
	font-size: 18px;
	font-weight: bold;
	color: #333333;
}
.modems-top p
{
	font-size: 20px;
	text-align: justify;
}
.modems-bottom
{
	margin: 20px;
	height: 100%;
}
.modems .goods1
{
	background-image: url("../icons/modem1.png");
}
.modems .goods2
{
	background-image: url("../icons/modem2.png");
}
.modems .goods3
{
	background-image: url("../icons/modem3.png");
}
.modems .goods4
{
	background-image: url("../icons/cords.png");
}
.modems .goods5
{
	background-image: url("../icons/dongle.png");
}
.modems .goods6
{
	background-image: url("../icons/usb.png");
}
.modems .goods
{
	background-size: contain;
	width: 11vw;
	height: 11vw;
	float: left;
}
.modems .price-wrapper
{
	margin-left: 15vw;
}
.btn
{
	background-image: url("../icons/buy.png");
	background-size: cover;
	height: 2.7vw;
	width: 9vw;
	border-radius: 0; 
	border: none;
	background-position: top;
	color: #fff;
}
.btn p
{
	font-size: 1.1vw;
	margin-top: 0.1vw;
}
.btn:hover
{
	background-position: bottom;
	color: #fff;
}
.price-wrapper .price-now
{
	font-size: 20px;
	color: #FF3838;
	font-weight: bold;
	white-space: nowrap;
}
.go-to-category-link
{
	background-color: #ECEFF1; 
	color:#A6ACAF;
	width: 32%;
	margin: 3em 0 3em 33.8%;
	padding: 20px 0; 
	box-shadow: 5px 5px 15px #E3E5E7;
}
.go-to-category-link:hover
{
	background-color: #2B2B2B;
	color:#fff;
}
.go-to-category-button
{
	font-size: 30px;
	color: #fff;
	text-decoration: none;
}
.go-to-category-button:hover
{
	text-decoration: none;
	color: #fff;
}
.go-to-category-button p
{
	padding: 0;
	margin:0;
}
/************SECTION THREE***************/
#section-three
{
	background-color: #ECEFF1;
}
.go-to-category-link2
{
	background-color: #fff;
	width: 32%;
	margin: 3em 0 3em 33.8%;
	padding: 20px 0; 
	box-shadow: 0 5px 30px #B6B8BA;
}
.go-to-category-link2:hover
{
	background-color: #2B2B2B;
	color:#fff;
}
.go-to-category-button2
{
	font-size: 30px;
	color: #A6ACAF;
	text-decoration: none;
}
.go-to-category-button2:hover
{
	text-decoration: none;
	color: #A6ACAF;
}
.go-to-category-button2 p
{
	padding: 0;
	margin:0;
}
.see-more-link:hover
{
	text-decoration: none;
}
.see-more-link ul li
{
	display: inline-block;
	vertical-align: middle;
	color: #2B2B2B;
}
.see-more-link ul:hover .see-more
{
	background-position: bottom;
}
.see-more-link ul:hover p
{
	color: #FF3838;
}
.see-more-link ul li p
{
	margin: 1.3vw 0;
	font-size: 1vw;
}
.see-more
{
	background: url("../icons/see_more.png") top;
	background-repeat: no-repeat;
	text-indent: -99999px;
	background-size: cover;
	height: 16px;
	width: 16px;
}
.see-more2
{
	height: 17px;
	width: 17px; 
}
	