/*-----COMMON-----*/
	* {
		margin: 0;
		padding: 0;
		font-family: 'Fjalla One', sans-serif;
		text-decoration: none;
	}
	body {
		min-width: 1000px;
	}
	p {
		color: #9B9B9B;
	}
	a {
		color: #000;
	}
	a:hover {
		color: #9B9B9B;
	}
/*************************************
HOME
*************************************/
/*-----HEADER-----*/
	.top_head_arrow {
		position: relative;
		background-color: #EDEDED;
		width: 100%;
		height: 10px;
	}
	.top_head_arrow img {
		position: absolute;
		bottom: -10px;
		left: 43%;
	}
	.logo {
		float: left;
		margin: 20px 0 50px 0;
	}
	.head_block {
		width: 1000px;
		margin: 0 auto 20px auto; 
	}
	.topmenu ul {
		float: right;
	}
	.topmenu ul li{
		display: inline-block;
		margin: 20px 16px;
	}
	.topmenu ul li p {
		color: #9B9B9B;
	}
	.topmenu ul li h3 {
		font-size: 27px;
	}
/*-----SECTION 1-----*/
	.jesus_img {
		position: relative;
		background-image: url('.//images/jesus.png');
		width: 1000px;
		height: 452px;
		margin: 0  auto;
		clear: both;
	}
	.jesus_img_text {
		position: absolute;
		bottom: 0;
		background-color: #3E3E3E;
		padding: 5px 16px 5px 16px; 
		width: 150px
	}
	.arrow_top_ico {
		position: absolute;
		left: 50%;
		bottom: -1px;
	}
	.jesus_img_text h2{
		color:#fff;
	}
	.jesus_img ol {
		position: absolute;
		bottom: 10px;
		right: 16px;
	}
	.jesus_img ol li {
		display: inline-block;
		background-color: #979797;
		width: 20px;
		height: 5px;
		margin: 2px;
	}
	.jesus_img ol li:hover {
		background-color: #fff;
	}
	.under_jesus_img_text {
		width: 1000px;
		margin: 0 auto;
		background-color: #F6F6F6;
	}
	.under_jesus_img_text h3 {
		padding: 20px 20px 10px 20px;
	}
	.under_jesus_img_text p {
		padding: 10px 20px 20px 20px;
	}
	.arial {
		font-family: 'Arial', sans-serif;
		font-size: 13px;
	}
/*-----SECTION 2-----*/
	.project_info {
		width: 1000px;
		margin: 50px auto;
	}
	.project_info ul li{
		display: inline-block;
		width: 29%;
		margin:2%;
	}
	.project_info ul li img {
		float: left;
		margin-right: 20px; 
	}
	.project_info ul li p{
		padding-top: 20px;
		clear: both;
	}
	.project_info ul li p img {
		padding-top: 6px;
		margin-right: 10px;
	}
	.project_info ul li a p {
		color: #000;
	}
	.project_info ul li a p:hover {
		color: #9B9B9B;
	}
/*-----SECTION 3-----*/
	.thirt_top_logo {
		width: 1000px;
		text-align: center;
		background-color: #EDEDED;
		margin: 0 auto;
	}
	.thirt_top_logo h2 {
		background-color: #fff;
		margin: 0 auto;
		width: 210px;
	}
	.third_section_worklist {
		width: 1000px;
		margin: 0 auto;
	}
	.third_section_worklist ul li{
		display: inline-block;
		list-style: none;
		width: 220px;
		margin-top: 80px; 
		margin-right: 3.65%;
	}
	.third_section_worklist ul li:nth-child(4){
		margin-right: 0;
	}
	.third_section_worklist ul li h3 {
		margin: 20px 0;
	}
	.third_section_worklist ul li p img {
		padding-top: 6px;
		margin-right: 10px;
	}
	.third_section_worklist ul li a p {
		margin-top: 20px; 
		color: #000;
	}
	.third_section_worklist ul li a p:hover {
		color: #9B9B9B;
	}
/*-----FOOTER-----*/
	.footer {
		background-color: #EDEDED;
		border-top: 5px solid #D5D5D5;
		margin: 80px 0 0 0;
		clear: both;
	}
	.footer_block {
		width: 1000px;
		margin: 20px auto 0 auto;
		height: 40px;
	}
	.copy_rights {
		float: left;
	}
	.site_developed {
		float: right;
	}
/*************************************
ABOUT
*************************************/
/*-----ABOUT US-----*/
	.about_logo	{
		clear: both;
		width: 1000px;
		margin: 0 auto;
		border-bottom: 5px solid #EDEDED;
	}
	.about_logo p {
		font-style: italic;
		width: 700px;
		margin: 20px 0;
	}
/*-----ABOUT TEXT-----*/
	.about_text {
		width: 1000px;
		margin: 50px auto;
		border-bottom: 5px solid #EDEDED;
	}
	.about_text ul li{
		display: inline-block;
		width: 29%;
		margin:3%;
	}
	.about_text ul li:nth-child(1){
		margin-left: 0
	}
	.about_text ul li:nth-child(3){
		margin-right: 0
	}
	.about_text ul li p{
		margin: 20px 0;
		text-align: justify;
	}
	.about_text ul li p.par {
		color: #474747;
	}
/*-----ABOUT PEOPLE-----*/
	.about_people_block {
		width: 1000px;
		margin: 0 auto;
	}
	.about_photo {
		background-image: url('.//images/about_people_img.png');
		height: 130px;
		width:100%;
	}
	.about_people_block ul li{
		display: inline-block;
		width: 29%;
		margin:3%;
	}
	.about_people_block ul li:nth-child(1){
		margin-left: 0
	}
	.about_people_block ul li:nth-child(3){
		margin-right: 0
	}
	.about_people_text {
		width: 90%;
		margin: 0 auto;
	}
	.about_people_text h3 {
		margin-top: 20px; 
		float: left;
	}
	.about_people_text h6 {
		padding-top: 25px; 
		text-align: right;
	}
	.about_people_text p{
		margin: 0 0 20px 0; 
		clear: both;
	}
/*************************************
PROJECTS
*************************************/
/*-----PROJECTS LEFT SIDEBAR-----*/
	.projects {
		clear: both;
		width: 1000px;
		/*height: 500px;*/
		margin: 0 auto;
	}
	.left_side_bar_project {
		width: 650px;
		float: left;
		/*height: 500px;*/
	}
	.projects_logo {
		width: 650px;
		border-bottom: 5px solid #EDEDED;
	}
	.left_side_bar_project p.logo_arial {
		font-style: italic;
		width: 650px;
		margin: 20px 0;
	}
	.projects_nav ul li {
		border-left: 2px solid #000;
		display: inline-block;
		vertical-align: ;
		height: 15px;
		margin: 10px 0;
		padding: 0 10px;
	}
	.projects_nav ul li:nth-child(1){
		border: none;
	}
	.projects_nav ul li a p{
		color: #000;
		margin: -2px 0;
	}
	.projects_nav ul li a p:hover{
		color: #9B9B9B;
	}
	.porject_gallery_block {
		display: inline-block;
		margin: 20px 0 20px 6px; 
		vertical-align: top;
	}
	.pr_gb1 {
		margin-top: -90px; 
	}
	.pr_gb {
		margin-top: -60px; 
	}
	.porject_gallery_block_text {
		margin: 20px auto 0 auto;
		width: 180px;
	}
	.porject_gallery_block_text p.arial {
		margin-top: 10px; 
	}
	.hoverover {
		opacity: 0;
		position: absolute;
		background-color: rgba(0,0,0,0.6);
		height: 99%;
		width: 100%;
		color: #D3D8B8;
		z-index: 1;
		transition: all 0.3s ease;
	}
	.hoverover img {
		position: absolute;
		top: 37%;
		left: 35%;
	}
	.image-wrapper {
		min-width: 170px;
		position: relative;
		display: inline-block;
		margin: 1.25%;
		transition:all 0.6s ease;
		vertical-align: top;
	}
	.image-wrapper:hover .hoverover {
		/*visibility: visible;*/
		opacity: 1.0;
		transition: opacity .3s;
	}
/*************************************
BLOG
*************************************/
/*-----BLOG LEFT SIDEBAR-----*/
	.blog {
			clear: both;
			width: 1000px;
			margin: 0 auto;
		}
	.left_side_bar_blog {
		width: 650px;
		float: left;
	}
	.blog_logo {
		width: 650px;
		border-bottom: 5px solid #EDEDED;
	}
	.left_side_bar_blog p.logo_arial {
		font-style: italic;
		width: 650px;
		margin: 20px 0;
	}
	.blog_info_block {
		border-bottom: 5px solid #EDEDED;
	}
	.blog_info_block h3 {
		margin: 20px 0;
	}
	.blog_info_block ul {
		width: 650px;
	}
	.blog_info_block ul li:nth-child(1){
		width: 150px
	}
	.blog_info_block ul li{
		display: inline-block;
		vertical-align: top;
		width: 450px;
	}
	.blog_info_block ul li h5 {
		margin-top: 20px;
	}
	.blog_info_block ul li p{
		margin-top: 5px;
		font-size: 10px;
	}
	.blog_info_block ul li p.arial {
		margin: 20px 0;
		font-size: 13px;
	}
/*************************************
CONTACT
*************************************/
/*-----CONTACT LEFT SIDEBAR-----*/
	.contact {
		clear: both;
		width: 1000px;
		margin: 0 auto;
	}
	.left_side_bar_contact{
		width: 650px;
		float: left;
	}
	.contact_logo {
		width: 650px;
		border-bottom: 5px solid #EDEDED;
	}
	.left_side_bar_contact p.logo_arial {
		font-style: italic;
		width: 650px;
		margin: 20px 0;
	}
	.contact_text p{
		margin-top: 20px;
	}
	.feedback {
		display: table;
	}
	.feedback input {
		font-size: 16px;
		border: 1px solid #EDEDED;
		padding: 5px 50px 5px 5px;
		margin-top: 20px;
		color: #C7C7C7;
		background-color: #FAFAFA;
	}
	.feedback textarea {
		resize: none;
		font-size: 16px;
		margin: 20px 0;
		color: #C7C7C7;
		padding: 5px;
		border: 1px solid #EDEDED;
		background-color: #FAFAFA;
	}
	.feedback .submit img {
		padding: 0 10px;
		margin: 0 0 1px 0;
	}
	.feedback .submit p {
		font-size: 13px;
		margin-bottom: 50px; 
		color: #000;
	}
	.feedback .submit p:hover{
		color: #C7C7C7;
	}
/*-----RIGTH SIDEBAR PROJECTS, BLOG, CONTACT-----*/
	.right_sidebar_logo {
		width: 250px;
		float: right;
	}
	.right_sidebar_logo ul li {
		list-style: none;
		margin: 5px 0;
	}
	.right_sidebar_logo h3{
		width: 250px;
		padding: 0 0 20px 0;
		margin: 10px 0 20px 0;
		border-bottom: 5px solid #EDEDED;
	}
	.right_sidebar_logo h3.top {
		margin-top: 56px; 
	}
	.right_sidebar_logo p {
		margin: 10px 0;
	}
	.ol ol li {
		display: inline-block;
		background-color: #979797;
		clear: both;
		width: 20px;
		height: 5px;
		margin: 50px 2px;
	}
	.ol ol li:hover {
		background-color: #CACACA;
	}