@font-face {
  font-family: 'Solomon-Sans-Bold';
  src: url('Solomon-Sans-Bold.eot');
  src: url('Solomon-Sans-Bold.woff2') format('woff2'),
       url('Solomon-Sans-Bold.woff') format('woff'),
       url('Solomon-Sans-Bold.ttf') format('truetype'),
       url('Solomon-Sans-Bold.svg#Solomon-Sans-Bold') format('svg'),
       url('Solomon-Sans-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

