input
{
	cursor: pointer;
}
*{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	outline: none;

}
/***************
Section one
*************/
#section-one
{
	background: url('../images/backgrounds/bags1.png') no-repeat left;
	background-size: 85% 100%;
	max-width: 1366px;
	min-width: 1350px;
	height: 800px;
	margin: 0 auto;
	padding-top: 30px;
}
.logo 
{
	width: 20%;
	float: left;
	margin: -20px 0 0 0;
}
.info
{
	width: 70%;
	float: right;
}
.work-time
{
	float: left;
	margin: 15px 0 0 100px;
}
.work-time p
{
	font-size: 20px;
	text-align: center;
}
.work-time a
{
	color: #F21938;
	font-weight: bold;
}
.social-media
{
	float: right;
	padding-bottom:35px;
	margin-right: 30px; 
}
.social-media ul li
{
	display: inline-block;
	margin: 3px;
}
.tell-number
{
	clear: both;
	text-align: center;
	background-color: rgba(81,81,81, 0.7); 
	border-radius: 10px;
	margin-right: 35px;
	float: right;
	padding:5px;
	width: 85%;
}
.tell-number ul li
{
	display: inline-block;
	font-size: 20px;
	color: #fff;
	vertical-align: middle;
}
.tell-number ul li:nth-child(1)
{
	margin-right: 70px; 
}

.tell-number ul li p
{
	font-size: 35px;
}
.tell-number ul li input
{
	background-color: #F30A2B;
	border: none;
	font-weight: bold;
	border-radius: 10px;
	padding: 15px 60px;
	font-size: 25px;
	color: #fff;
}
.tell-number ul li input:hover
{
	background-color: #fff;
	color: #F30A2B;
}
.nav-bar
{
	clear: both;
	background: #fff; 
	background: -webkit-linear-gradient(left, #939393, #DEDEDE,#DEDEDE,#DEDEDE,#DEDEDE,#DEDEDE,#939393);
	background: -o-linear-gradient(left, #939393, #DEDEDE,#DEDEDE,#DEDEDE,#DEDEDE,#DEDEDE,#939393);
	background: -moz-linear-gradient(left, #939393, #DEDEDE,#DEDEDE,#DEDEDE,#DEDEDE,#DEDEDE,#939393);
	background: linear-gradient(to right top bottom,  #DEDEDE, #939393,#DEDEDE,#DEDEDE,#DEDEDE,#DEDEDE,#939393); 
	border-bottom: 3px solid rgba(91, 95, 98, 0.4);
	border-top: 3px solid rgba(255, 255, 255, 0.5);
	height: 64px;
}
.nav-bar .navigation
{
	width: 55%;
	margin: 2px auto;
	text-align: center;
	background-color: rgba(81,81,81, 0.7);
	border-radius: 10px;
	height: 60px;

}
.navigation ul li
{
	display: inline-block;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	padding: 10px 20px;
	margin: 10px 0;
}
.navigation ul li:nth-child(1)
{
	border:none;
}
.navigation ul li a
{
	text-decoration: none;
	font-size: 20px;
	color: #fff;
}
.discription
{
	width: 70%;
	font-size: 40px;
	color: #4A494A;
	float: left;
}
.discription h3
{
	
	margin-top: 50px;
	font-style: italic;
}
.discription-one-wrapper
{
	width: 60%;
	text-align: center;
	padding: 30px 0;
}
#triangle-topleft 
{
	width: 100%;
	height: 100%;
	margin-top: -120px;
	border-top: 130px solid  rgba(231,236,253, 0.8); 
	border-right: 100px solid transparent;			
}
.discription h2
{
	margin-top: 80px;
	text-align: center;
	font-style: italic;
}
.discription-two-wrapper
{
	width: 80%;
/*	background-color: rgba(231,236,253, 0.8);
	-webkit-transform: skew(-40deg);
	-moz-transform: skew(-40deg);
	-o-transform: skew(-40deg);*/
}
#triangle-topleft2 
{
	width: 100%;
	height: 100%;
	margin-top: -150px;
	border-top: 170px solid  rgba(231,236,253, 0.8); 
	border-right: 100px solid transparent;			
}
.feed-back-form
{
	float: right;
	background-color: rgba(81,81,81, 0.7);
	margin: 20px 60px 0 0;
	border-radius: 30px;
}
.feed-back-form h2
{
	border-top: 2px solid rgba(255,255,255, 0.5);
	border-bottom: 2px solid rgba(255,255,255, 0.5); 
	font-size: 33px;
	margin: 30px 20px 20px 20px;
	text-align:center;
	color: #fff;
}
.feed-back-form p
{
	margin: 10px 0 10px 20px;
	font-size: 20px;
	color: #fff;
}
.feed-back-form input
{
	color: #000;
	font-size: 20px;
	border-radius: 16px;
	padding: 10px 20px;
	margin: 0 0 0 20px;
	outline: none;
}
#submit
{
	margin: 20px 10px 30px 20px;
	padding: 20px 30px;
	font-weight: bold;
	font-size:32px;
	border-radius: 20px;
	background-color: #F30A2B;
	cursor: pointer;
	color: #fff;
	border:none;

}
#submit:hover
{
	background-color: #fff;
	color: #F30A2B;
}
/***************
Section two
*************/
.section-two
{
	max-width: 1366px;
	min-width: 1300px;
	margin: 0 auto;
}
.bag-case-head h2
{
	position: relative;
	clear: both;
	font-size: 60px;
	padding: 10px 0 10px 60px;
	color: #F03F7A;
}
.bag-case-head h2:before
{
  	content:'';
    width:100%;
    position: absolute;
    left:0;
    top: 1px;
    height: 2px;
    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, hsla(0, 0%, 0%, 0)), color-stop(50%, hsla(0, 0%, 0%, .75)), color-stop(100%, hsla(0, 0%, 0%, 0)));
    background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: -moz-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: -ms-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: -o-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
}
.bag-case-head h2:after
{
  	content:'';
    width:100%;
    position: absolute;
    left:0;
    bottom:-1px;
    height: 2px;
    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, hsla(0, 0%, 0%, 0)), color-stop(50%, hsla(0, 0%, 0%, .75)), color-stop(100%, hsla(0, 0%, 0%, 0)));
    background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: -moz-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: -ms-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: -o-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
}
.bags-choose
{
	width: 50%;
	position: relative;
	float: left;
}
.bag
{
	background: url('../images/bags-img/purple-bag.png') center;
	background-repeat: no-repeat;
	background-size: 40% 60%;
	margin: 10px;
	border: 4px solid #EEEEEE;
	border-radius: 20px;
	width: 150px;
	height: 160px;
}
.bag1
{
	margin-top: 20px;
}
.bag-screen
{
	background: url('../images/bags-img/purple-bag.png') center;
	background-repeat: no-repeat;
	background-size: 40% 60%;
	margin: 20px 10px;
	border: 4px solid #EEEEEE;
	border-radius: 20px;
	width: 470px;
	height: 516px;
	position: absolute;
	right: 0;
	top: 0;
}
.bag a
{
	width: 150px;
	height: 170px;
}
.bags-info-choose
{
	width: 50%;
	float: right;
}
.bags-info-choose h3
{
	margin: 20px 35px;
}
.sqare
{
	display: inline-block;
	text-align: center;
	text-decoration: none;
	height: 35px;
	width: 35px;
	border:4px solid #666667;
	border-radius: 10px;
	margin-left: 35px;
}
/*Colors of Sqares*/
.color0{background-color:#FF3333}
.color1{background-color:#FFFF33}
.color2{background-color:#33FF33}
.color3{background-color:#33FFFF}
.color4{background-color:#2D2CF8}
.color5{background-color:#FF33FF}
.color6{background-color:#FFFFFF}
.color7{background-color:#B13C3F}
.color8{background-color:#BCB333}
.color9{background-color:#333333}
/*Colors of Sqares*/
.sqare p
{
	color: #EE276A;
	font-weight: bold;
	font-size: 20px;
	margin-top: 7px;
}
.bags-info-choose-info p
{
	display: inline;
	margin-left: 35px;
}
.bags-info-choose-price
{
	margin: 10px 0 10px 35px;
	;
	font-size: 20px;
}
.bags-info-choose-price input
{
	background-color: #F30A2B;
	margin-top: 20px;
	padding: 10px 30px;
	font-size: 32px;
	font-weight: bold;
	border-radius: 10px;
	color: #fff;
	border:none;
}
.bags-info-choose-price input:hover
{
	background-color: #fff;
	color: #F30A2B;
	border: 1px solid #F30A2B;
	padding: 9px 29px;
}
/***************
Section three
*************/
.section-three
{
	position: relative;
	clear: both;
	max-width: 1366px;
	min-width: 1300px;
	margin: 0 auto;
}
.section-three .slider-wrapper
{
	background-color: #fff;
	position: absolute;
	border-radius: 20px;
	top: 5%;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 450px;
	width: 80%;
	z-index: 1;
}
.section-three .slider-wrapper .product-discription
{
	width: 50%;
	float: left;
	text-align: center;
}
.section-three .slider-wrapper .product-discription h2
{
	margin: 40px 0;
	font-size: 40px;
	line-height: 50px;
	color: #F30A2B;
}
.section-three .slider-wrapper .product-discription p
{
	width: 400px;
	margin:0 auto;
	font-size: 30px;
	line-height: 35px;
	color: #3D3D3D;
}
.section-three .slider-wrapper .product-discription input
{
	background-color: #F30A2B;
	margin-top: 20px;
	padding: 20px 40px;
	font-size: 40px;
	font-weight: bold;
	border-radius: 10px;
	color: #fff;
	border:none;
}
.section-three .slider-wrapper .product-discription input:hover
{
	background-color: #fff;
	color: #F30A2B;
	border: 1px solid #F30A2B;
	padding: 19px 39px;
}
.section-three .slider-wrapper .product
{
	background: url('../images/bags-img/white-bags-slider.png') left;
	background-size: 80% 100%;
	background-repeat: no-repeat;
	height: 97%;
	width: 50%;
	text-align: right;
	float: right;

}
.section-three .slider-wrapper .product p
{
	background-color: rgba(241, 71, 128, 0.7);
	font-weight: bold;
	font-size: 40px;
	color: #fff;
	width: 50%;
	padding: 10px 100px 10px 0;
	margin: 350px 0 0 170px;
}
.background-line1
{
	background-color: #C7C7C7;
	height: 100px;
}
.background-line2
{
	background-color: #fff;
	height: 100px;
}
.background-line3
{
	background-color: #F693B4;
	height: 100px;
}
.arrow-left img
{
	position: absolute;
	height: 100px;
	top: 200px;
	left: 80px;
}
.arrow-right img
{
	position: absolute;
	height: 100px;
	top: 200px;
	right: 80px;
}
/***************
Section four
*****************/
.section-four
{
	clear: both;
	max-width: 1366px;
	min-width: 1300px;
	margin: 0 auto;
}
.test-drive-head h2
{
	clear: both;
	font-size: 30px;
	text-align: center;
	/*border-bottom:5px solid #E787A7;*/
	padding: 10px 0 10px 60px;
}
.test-drive
{
	height: 500px;
	overflow: auto;
	background: #fff; 
	border-top:5px solid #E787A7;
	border-bottom:5px solid #E787A7;
	background: -moz-radial-gradient(center, ellipse cover, #fff, #939393); 
	background: -webkit-radial-gradient(center, ellipse cover, #fff, #939393); 
	background: -o-radial-gradient(center, ellipse cover, #fff, #939393); 
	background: -ms-radial-gradient(center, ellipse cover, #fff, #939393);
	border-bottom: 5px solid #F791B3;

}
.test-drive-screen
{
    margin: 50px 0 0 50px;
    height: 400px;
    width: 55%;
    background-color: #292929;
    border-radius: 20px;
    float: left;
}
.confirm-sqares
{
	float: right;
	width: 41%;
}
.confirm-sqares ul
{
	margin: 90px 0 0 0;

}
.confirm-sqares ul li
{
	list-style: none;
	margin: 60px 0 0 0;
}
.confirm-sqares ul li h3
{
	display: fixed;
	margin:-37px 0 0 90px;
}
.test-sqare
{
	display: inline-block;
	text-align: center;
	position: relative;
	text-decoration: none;
	height: 35px;
	width: 35px;
	border:4px solid #EE276A;
	border-radius: 10px;
	margin-left: 35px;
}
.test-sqare img
{
	position: absolute;
	top: -25px;
	left: 0;
	height: 60px;
	width:60px;
}
/***************
Section five
*****************/
.section-five
{
	clear: both;
	max-width: 1366px;
	min-width: 1300px;
	margin: 0 auto;
}
.bag-catalog-head h2
{
	position: relative;
	clear: both;
	font-size: 60px;
	margin-top: 10px;
	padding: 10px 0 10px 60px;
	color: #F03F7A;
}
.bag-catalog-head h2:before
{
  	content:'';
    width:100%;
    position: absolute;
    left:0;
    top: 1px;
    height: 2px;
    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, hsla(0, 0%, 0%, 0)), color-stop(50%, hsla(0, 0%, 0%, .75)), color-stop(100%, hsla(0, 0%, 0%, 0)));
    background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: -moz-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: -ms-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: -o-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
}
.bag-catalog-head h2:after
{
  	content:'';
    width:100%;
    position: absolute;
    left:0;
    bottom:-1px;
    height: 2px;
    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, hsla(0, 0%, 0%, 0)), color-stop(50%, hsla(0, 0%, 0%, .75)), color-stop(100%, hsla(0, 0%, 0%, 0)));
    background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: -moz-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: -ms-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: -o-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
}


.bag-case-wrapper
{
	margin: 40px auto 0 auto;
	position: relative;
	width: 1200px;
}
.bags-case
{
	position: relative;
	float: left;
	display: block;
	width: 33%;
	height: 220px;
	text-align: center;
}
.bags-case-hover .hover-img
{
	margin: 30px;
	height: 250px;
	width: auto;
}
.bags-case-hover
{
	position: absolute;
	top:-30px;
	left: 0;
	visibility: hidden;
	width: 400px;
	height: 500px;
	text-align: center;
	z-index: 999;
	background-color: #fff;
	opacity: 0;
	box-shadow: 2px 2px 20px 1px #000;
	-webkit-transition: all 0.2s ease-out;

}
.bags-case:hover .bags-case-hover
{
	visibility: visible;
	opacity: 1;
}
.bag-case-gradient
{
	width: 100%;
}
.bag-case-gradient:before
{
	content:'';
    width:1px;
    position: absolute;
    left:0;
    height: 100%;
    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, hsla(0, 0%, 0%, 0)), color-stop(50%, hsla(0, 0%, 0%, .75)), color-stop(100%, hsla(0, 0%, 0%, 0)));
    background: -webkit-linear-gradient(top, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: -moz-linear-gradient(top, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: -ms-linear-gradient(top, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: -o-linear-gradient(top, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: linear-gradient(top, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
}
.bags-case:nth-child(3) .bag-case-gradient:after
{
	/*background-color: #000;*/
	content:'';
    width:1px;
    position: absolute;
    right:0;
    height: 100%;
    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, hsla(0, 0%, 0%, 0)), color-stop(50%, hsla(0, 0%, 0%, .75)), color-stop(100%, hsla(0, 0%, 0%, 0)));
    background: -webkit-linear-gradient(top, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: -moz-linear-gradient(top, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: -ms-linear-gradient(top, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: -o-linear-gradient(top, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: linear-gradient(top, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
}
.bags-row
{
	height: 220px;
	padding: 5px;

}
.bags-row:before
{
  	content:'';
    width:100%;
    position: absolute;
    left:0;
    top: -1px;
    height: 1px;
    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, hsla(0, 0%, 0%, 0)), color-stop(50%, hsla(0, 0%, 0%, .75)), color-stop(100%, hsla(0, 0%, 0%, 0)));
    background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: -moz-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: -ms-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: -o-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
}
.bags-row:after
{
  	content:'';
    width:100%;
    position: absolute;
    left:0;
    bottom: 50%;
    height: 1px;
    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, hsla(0, 0%, 0%, 0)), color-stop(50%, hsla(0, 0%, 0%, .75)), color-stop(100%, hsla(0, 0%, 0%, 0)));
    background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: -moz-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: -ms-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: -o-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
    background: linear-gradient(left, hsla(0, 0%, 0%, 0) 0%,hsla(0, 0%, 0%, .75) 25%, hsla(0, 0%, 0%, .75) 75%, hsla(0, 0%, 0%, 0) 100%);
}

.bags-row:nth-child(2):after
{
    bottom: 0;
}

.bags-case img
{
	height: 204px;
	width: 154px;
}
.bags-case ul
{
	margin-top: 10px;
	list-style: none;
}
.bags-case ul li p 
{
	display: inline-block;
	margin: 5px 0;
	font-size: 12px;
	z-index: 1;
}
.bags-case .price
{
	position: absolute;
	margin: -30px 0 0 180px;
	width: 40px;
	color: #fff;
	background-color: #EE276A;
	padding: 5px 25px;
	border-radius: 7px;
	z-index: 1;
}
.bags-case input
{
	background-color: #F30A2B;
	margin-top: 10px;
	padding: 10px 30px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 10px;
	color: #fff;
	border:none;
}
.bagpack-constructor
{
	clear: both;
	box-shadow: 10px 10px 5px #000;
}
.bagpack-choose
{
	width: 50%;
	position: relative;
	float: left;
}
.bagpack
{
	background: url('../images/bags-img/black-bagpack.png') center;
	background-repeat: no-repeat;
	background-size: 50% 60%;
	margin: 10px;
	border: 4px solid #EEEEEE;
	border-radius: 20px;
	width: 150px;
	height: 160px;
}
.bagpack1
{
	margin-top: 20px;
}
.bagpack-screen
{
	background: url('../images/bags-img/black-bagpack.png') center;
	background-repeat: no-repeat;
	background-size: 50% 60%;
	margin: 20px 10px;
	border: 4px solid #EEEEEE;
	border-radius: 20px;
	width: 470px;
	height: 516px;
	position: absolute;
	right: 0;
	top: 0;
}
.bagpack a
{
	width: 150px;
	height: 170px;
}
.bags-info-to-order
{
	text-align: center;
}
.bags-info-to-order p
{
	display: inline-block;
	line-height: 30px;
	font-size: 19px;
	margin: 0 60px;
}

.bags-info-to-order-properties p
{
	text-align: left;
	margin: 0 20px;
	font-size: 19px;
	display: inline-block;
	/*width: 80%;*/

}
.bags-info-to-order-properties .propert
{
	margin-right: 280px;
}
.bags-info-to-order-properties h3
{
	text-align: left;
	margin-left: 20px;

}
.bags-info-to-order-discription
{
	margin: 30px 0;
}
.price2
{
	text-align: center;
}
.price2 h2
{
	margin-top: 40px;
}
/***************
Section of advantage
*************/
.section-of-advantage
{
	background: url('../images/bags-img/back-side.png') no-repeat center bottom;
	background-size: 30% 60%;
	position: relative;
	clear: both;
	max-width: 1366px;
	min-width: 1300px;
	height: 800px;
	margin: 0 auto;
	text-align: center;
}
.section-of-advantage canvas
{
	position: absolute;
	left: 0;
}
.section-of-advantage h2
{
	font-size: 40px;
	padding: 10px 0 80px 0;
}
.bag-advantage
{
	height: 300px;
	margin: 0 50px;
}
.bag-advantage h3
{
	color: #EE276A;
	margin: 5px 0 20px 0;
}
.bag-advantage p
{
	font-size: 14px;
}
.bag-advantage .img
{	
	height: 107px;
	width: 107px;
	border:2px solid #9F9FA0;
	border-radius: 50%;
	margin: 0 auto;
}
.bag-advantage .img1
{
	background: url('../images/icons/strap.png') no-repeat center;
	background-size: cover;
}
.bag-advantage .img2
{
	background: url('../images/icons/glasses.png') no-repeat center;
	background-size: cover;
}
.bag-advantage .img3
{
	background: url('../images/icons/ortoped.png') no-repeat center;
	background-size: cover;
}
.bag-advantage .img4
{
	background: url('../images/icons/handle.png') no-repeat center;
	background-size: cover;
}
.bag-advantage .img5
{
	background: url('../images/icons/headphones.png') no-repeat center;
	background-size: cover;
}
.bag-advantage .img6
{
	background: url('../images/icons/back.png') no-repeat center;
	background-size: cover;
}
.advantage-left
{
	float: left;
	width: 33%;
}
.advantage-right
{
	float: right;
	width: 33%;
}
.arrow-up
{
	background: url('../images/icons/arrow-up.png') no-repeat center;
	height: 100px;
	width: 500px;
	position: absolute;
	bottom: -30%;
	left: 32%;
}
.arrow-down
{
	background: url('../images/icons/arrow-down.png') no-repeat center;
	height: 100px;
	width: 500px;
	position: absolute;
	top: 60px;
	left: 32%;
}
/******************
Section six
*********************/
.section-six
{
	clear: both;
	max-width: 1366px;
	min-width: 1300px;
	margin: 0 auto;
	overflow: auto;
}
.rewews
{
	background: url('../images/backgrounds/background-rewew.png') no-repeat center center fixed;
	background-size: cover;
}
.rewews ul li
{
	width: 25%;
	display:inline-block;
	text-align: center;
	margin: 4%;
}
.rewews ul li .photo
{
	background: url('../images/backgrounds/client-photo.png') no-repeat center;
	background-size: cover;
	height: 280px;
	width: 280px;
	border: 5px solid #EE276A;
	border-radius: 50%;
	margin: 0 auto;
}
.rewews ul li .name
{
	margin: 20px 0 5px 0;
}
.rewews ul li .old
{
	margin: 5px 0 20px 0;
}
.rewews ul li p
{
	width: 70%;
	margin: 0 auto;
}
.about-company
{
	overflow: auto;
}
.about-company p
{
	margin: 50px 100px;
}
/**************
Section seven
*************/
.section-seven
{
	position: relative;
	clear: both;
	max-width: 1366px;
	min-width: 1300px;
	margin: 0 auto;
}
.section-seven .slider-wrapper iframe
{
	background-color: #fff;
	position: absolute;
	border: 5px solid #fff;
	border-radius: 20px;
	top: 20%;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 450px;
	width: 80%;
	z-index: 1;
}
.section-eight
{
	max-width: 1366px;
	min-width: 1300px;
	margin: 0 auto;
	overflow: auto;
	background: #fff; 
	background: -webkit-linear-gradient(#fff, #ADADAD);
	background: -o-linear-gradient(#fff, #ADADAD); 
	background: -moz-linear-gradient(#fff, #ADADAD);
	background: linear-gradient(#fff, #ADADAD); 
}
.under-footer-number
{
	clear: both;
	text-align: center;
	background-color: rgba(81,81,81, 0.7); 
	border-radius: 10px;
	margin: 0 auto;
	padding:5px;
	width: 70%;
}
.under-footer-number ul li
{
	display: inline-block;
	font-size: 20px;
	color: #fff;
	vertical-align: middle;
}
.under-footer-number ul li:nth-child(1)
{
	margin-right: 70px; 
}

.under-footer-number ul li p
{
	font-size: 35px;
}
.under-footer-number ul li input
{
	background-color: #F30A2B;
	border: none;
	font-weight: bold;
	border-radius: 10px;
	padding: 15px 60px;
	font-size: 25px;
	color: #fff;
}
.under-footer-number ul li input:hover
{
	background-color: #fff;
	color:  #F30A2B;
}
.under-footer-work-time
{
	float: left;
	margin: 170px 0 0 100px;
}
.under-footer-work-time p
{
	font-size: 20px;
	text-align: center;
}
.under-footer-work-time a
{
	color: #F21938;
	font-weight: bold;
}
.under-footer-logo 
{
	width: 20%;
	float: left;
	margin: 10px 0 0 70px;
}
.under-footer-social-media
{
	float: right;
	padding-bottom:35px;
	margin: 160px 110px 0 0;
}
.under-footer-social-media ul li
{
	display: inline-block;
	margin: 3px;
}
.under-footer-social-media ul li img
{
	height: 50px;
	width: 50px;
}
footer
{
	max-width: 1366px;
	min-width: 1300px;
	margin: 0 auto;
	
}
.footer-nav-bar
{
	clear: both;
	border-bottom: 3px solid rgba(91, 95, 98, 0.4);
	border-top: 3px solid rgba(255, 255, 255, 0.5);
	height: 40px;
	background: #fff; 
	background: -webkit-linear-gradient(left, #939393, #939393,#DEDEDE,#DEDEDE,#DEDEDE,#939393,#939393);
	background: -o-linear-gradient(left, #939393, #939393,#DEDEDE,#DEDEDE,#DEDEDE,#939393,#939393);
	background: -moz-linear-gradient(left, #939393, #939393,#DEDEDE,#DEDEDE,#DEDEDE,#939393,#939393);
	background: linear-gradient(to right top bottom,  #939393, #939393,#DEDEDE,#DEDEDE,#DEDEDE,#939393,#939393); 
}
.footer-nav-bar .footer-navigation
{
	width: 55%;
	margin: 2px auto;
	text-align: center;
	height: 40px;

}
.footer-navigation ul li
{
	display: inline-block;
	border-left: 1px solid rgba(64, 64, 65, 0.5);
	padding: 3px 20px;
	margin: 3px 0;
}
.footer-navigation ul li:nth-child(1)
{
	border:none;
}
.footer-navigation ul li a
{
	text-decoration: none;
	font-size: 20px;
	color: #404041;
}