
	*{
		margin: 0;
		padding: 0;	
		font-family: 'Open Sans', sans-serif;
		/*font-family: 'Asap', sans-serif;*/
	}
	
	body {
		min-width: 1349px;
		margin: 0 auto;
	}
	p {
		font-weight: bold;
	}
	a {
		text-decoration: none;
	}
	

	/********************************
HEADER
	********************************/
	header {
		background-image: url('.//img/jpg/Rectangle 16.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.header {
		height: 750px;
		width: 1185px;
		margin: 0 auto;
		
		max-width: 100%;
		position: relative;
	}

	.logo {
		position: absolute;
		top: 40px;
		left: 40px;
	}
	.nav ul.nav-list {
		text-align: right;
	}
	.nav ul.nav-list li {
		display: inline-block;
		list-style: none;
		margin: 45px 33px;
	}
	.nav ul.nav-list li a {
		text-decoration: none;
		color: white;
		font-size: 11px;
	}
	.nav ul.nav-list li a:hover {
		text-decoration: none;
		color: #A2CA28;
		font-size: 11px;
	}

	.text {
		position: absolute;
		bottom: 150px;
		left: 50px
	}
	.text-h1 {
		text-align: right;
		font-size: 36px;
		color: white;
	}
	.text-h2 p {
		text-align: right;
		font-size: 14px;
		color: white;
		margin: 0 35px 0 0;
	}

	/********************************
NAVIGATION FIRST MAIN SECTION
	********************************/
	#first-main-section {
		width: 100%;
		margin: 0 auto;
		background-color: #A2CA28;
	}

	.back-mai-section {
		width: 1185px;
		margin: 0 auto;
		background-color: #A2CA28;

	}
	.nav-first-main-section ul li {
		display: inline-block;
		vertical-align: bottom;
		margin: 100px 2.5%;
		height: 400px;
		width: 19.7%;
	}

	.nav-first-main-section ul li img {
		padding: 20px 0;

	}
	.nav-first-main-section ul li h1{
		padding: 0 0 20px 0;
		color: white;
	}
	.nav-first-main-section ul li p{
		padding: 0 0 20px 0;
		font-size: 12px;
		line-height: 27px;
		color: white;
	}
	.nav-first-main-section ul li a {
		text-decoration: none;
		color: white;
	}
	.nav-first-main-section ul li a:hover {
		text-decoration: none;
		color: #FD4932;
	}
	/********************************
LADY STYLE
	********************************/
	.lady {
		position: relative;
		width: 100%;
		margin: 0 auto;
	}
	.lady-box {
		
		height: 394px;
		width: 400px;
		background-color: white;
		
	}

	.lady-list  li {
		list-style: none;
		background-color: white;
		text-align: center;

	}
	.lady-list  li h5 {
		color: #FD7F6E;
		padding: 55px 0 10px 0;
	}
	.lady-list  li h1 {
		color: #B2D34C;
		font-size: 2.5em;
		font-weight: 100;
	}
	.lady-list img {
		padding: 20px 0 5px 0;
	}
	.lady-list  li p {
		color: #80868B;
		font-size: 15px;
		line-height: 30px;
		padding: 0 45px;
	}
	.lady-list  li a{
		color: #B2D350;
	}
	.lady-list  li a:hover {
		color: #FD998B;
	}

	.lady-img {
		position: absolute;
		top:0;
		right: 0;
		height: 395px;
		width: 795px;
		box-shadow: -2px -2px 100px grey;
	}
	.lady-img p {
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 13px;
		color: #FD634E;
		padding: 50px;
		line-height: 30px;
	}
	.lady-img p img {
		padding: 0 10px;
		vertical-align: bottom;
	}
	/********************************
WATCH STYLE
	********************************/
	.wath {
		position: relative;
		width: 100%;
		margin: 0 auto;
	}
	.wath-box {
		position: absolute;
		top:0;
		right: 0;
		height: 394px;
		width: 400px;
		background-color: white;
	}
	

	.wath-list  li {
		list-style: none;
		background-color: white;
		text-align: center;

	}
	.wath-list  li h5 {
		color: #FD7F6E;
		padding: 55px 0 10px 0;
	}
	.wath-list  li h1 {
		color: #B2D34C;
		font-size: 2.5em;
		font-weight: 100;
	}
	.wath-list img {
		padding: 20px 0 5px 0;
	}
	.wath-list  li p {
		color: #80868B;
		font-size: 15px;
		line-height: 30px;
		padding: 0 45px;
	}
	.wath-list  li a{
		color: #B2D350;
	}
	.wath-list  li a:hover {
		color: #FD998B;
	}

	.wath-img {
		box-shadow: 10px 10px 70px grey;
		height: 395px;
		width: 795px;
	}
	.wath-img p {
		position: absolute;
		bottom: 0;
		left: 0;
		font-size: 13px;
		color: #FD634E;
		padding: 50px;
		line-height: 30px;
	}
	.wath-img p img {
		padding: 0 10px;
		vertical-align: bottom;
	}
	
	/********************************
NAVIGATION SECOND MAIN SECTION 2.1
	********************************/

	#second-main-section {
		width: 100%;
		margin: -1px auto;
		background-color: #FD634E;
		/*height: 5000px;*/
	}
	.second-back-main-section {
		position: relative;
		width: 1185px;
		height: 640px;
		margin: 0 auto;
		background-color: #FD634E;
	}
	.guys-img {
		position: absolute;
		top: 0;
		left: 0;
		
	}
	.guy-img {
		position: absolute;
		top: 0;
		right: 0;
		/*border-left: 5px solid black;*/
	}
	.guy-img p.left {
		position: absolute;
		top: 50px;
		left: 50px;
		color: #fff;
		clear: both;
	}
	.guy-img p.right {
		position: absolute;
		top: 50px;
		right: 50px;
		color: #fff;
	}
	.guy-img p.right img {
		padding: 0 20px;
		vertical-align: bottom;
		clear: both;
	}

	.guys-box {
		position: absolute;
		top: 333px;
		height: 310px;
		width: 401px;
		background-color: white;
		
	}

	.guys-list  li {
		list-style: none;
		background-color: white;
		
	}
	.guys-list  li h5 {
		color: #FD7F6E;
		padding: 55px 0 10px 40px;
	}
	.guys-list  li h1 {
		color: #B2D34C;
		font-size: 2.5em;
		padding: 0 0 0 40px;
		font-weight: 100;
	}
	.guys-list img {
		position: absolute;
		top: 60px;
		right: 30px;
		padding: 20px 0 5px 0;
	}
	.guys-list  li p {
		color: #80868B;
		font-size: 15px;
		line-height: 30px;
		padding: 0 40px;
	}
	
	.skate-box {
		position: absolute;
		box-shadow: 0px -10px -5px black;
		top: 333px;
		right: 0;
		height: 310px;
		width: 785px;
		background-color: #A2CA28;
		box-shadow: -2px -2px 100px grey;
		
	}

	.skate-list  li {
		list-style: none;
		
	}
	.skate-list  li h1 {
		margin: 45px 0 20px 15px;
		font-size: 2.5em;
		padding: 0 0 0 40px;
		font-weight: lighter;
		color: #fff;
	}
	.skate-list  li p {
		margin: 0 15px;
		font-size: 15px;
		line-height: 30px;
		padding: 0 40px;
		color: #fff;
	}
	/********************************
NAVIGATION SECOND MAIN SECTION 2.2
	********************************/
	
	.third-back-main-section {
		position: relative;
		width: 1185px;
		height: 640px;
		margin: 0 auto;
		background-color: #FD634E;
	}
	.hend-img {
		position: absolute;
		top: 0;
		left: 0;
	
	}
	.fruits-img {
		position: absolute;
		top: 0;
		right: 0;
		
	}
	.hend-img p.left {
		position: absolute;
		top: 50px;
		left: 50px;
		color: #fff;
		clear: both;
	}
	.hend-img p.right {
		position: absolute;
		top: 50px;
		right: 50px;
		color: #fff;
	}
	.hend-img p.right img {
		padding: 0 20px;
		vertical-align: bottom;
		clear: both;
	}

	.fruits-box {
		position: absolute;
		bottom: 0;
		right: 0;
		height: 310px;
		width: 401px;
		background-color: #A2CA28;
		
		
	}

	.fruits-list  li {
		list-style: none;
		
	}
	.fruits-list  li h5 {
		color: #fff;
		padding: 55px 0 0 40px;
	}
	.fruits-list  li h1 {
		color: #fff;
		font-size: 2.5em;
		padding: 0 0 0 35px;
		font-weight: 100;
	}
	.fruits-list img {
		position: absolute;
		top: 30px;
		right: 30px;
		padding: 20px 0 5px 0;
	}
	.fruits-list  li p {
		color: #fff;
		font-size: 15px;
		line-height: 30px;
		padding: 20px 40px;
	}
	
	.grapes-box {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 310px;
		width: 784px;
		background-color: #fff;
		
	}

	.grapes-list  li {
		list-style: none;
		
	}
	.grapes-list  li h5 {
		color: #FD7F6E;
		padding: 55px 0 0 40px;
	}
	.grapes-list  li h1 {
		font-size: 2.5em;
		padding: 0 0 0 35px;
		font-weight: lighter;
		color: #A2CA28;
	}
	.grapes-list img {
		position: absolute;
		top: 30px;
		right: 30px;
		padding: 20px 0 5px 0;
	}

	.grapes-list  li p {
		
		font-size: 14px;
		line-height: 30px;
		padding: 20px 40px;
		color: #80868B;
	}
	
	/********************************
NAVIGATION LAST MAIN SECTION 2.3
	********************************/
	#last-main-section {
		width: 100%;
		margin: 1px auto;
		height: 800px;
		background-image: url('.//img/jpg/Layer 8.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}
	.h1 h1 {
		color: white;
		text-align: center;
		font-size: 2.7em;
		padding: 250px 0 0 0;
	}

	.p p {
		text-align: center;
		font-size: 18px;
		color: #C9CACC;
		padding: 40px 540px;
	}

	/********************************
FOOTER SECYION
	********************************/

	#footer-section {
		width: 100%;
		margin: -5px auto;
		height: 760px;
		background-color: #0D1119;
	}
	.footer-div {
		width: 1185px;
		margin: 0 auto;
	}
	.footer-lists  {
		display: -webkit-inline-box;
		list-style: none;
	}
	.footer-lists li:nth-child(1) {
		width: 350px;
	}
	.footer-lists li {
		width: 450px;
	}
	.footer-lists li h1 {
		font-size: 23px;
		color: #C9CACC;
		padding: 20px;
	}
	.footer-lists li p {
		line-height: 30px;
		color: #6C7E8C;
		padding: 20px;
		font-size: 12px;
	}

	.footer-lists li ul li {
		display: inline;
		list-style: none;
		border-radius: 49.999%;
		padding: 20px;
		margin: 10px;
		vertical-align: top;
	}
	.footer-lists  h1.list {
		color: #C9CACC;
		margin: 0 0 35px 0;
	}
	
	.footer-lists li ul li:nth-child(1) {
		display: inline;
		list-style: none;
		background-color: #2E3192;
		padding: 20px 28px;
		margin: 10px;
		vertical-align: top;
	}
	.footer-lists li ul li:nth-child(2) {
		display: inline;
		list-style: none;
		background-color: #00AEEF;
		padding: 20px 23px;
		margin: 10px;
		vertical-align: top;
	}

	.footer-lists li ul li:nth-child(3) {
		display: inline;
		list-style: none;
		background-color: #ED3123;
		padding: 23px;
		margin: 10px;
		vertical-align: top;
	}
	.footer-lists li ul li:nth-child(4) {
		display: inline;
		list-style: none;
		background-color: #171A8F;
		padding: 23px;
		margin: 10px;
		vertical-align: top;
	}
	
	.nav2 {
		margin: 0 auto;
		width: 59%;
		right: 350px;
		display: flex;
		margin: 0 auto;


	}

	.form input {
		padding: 16px 70px 16px 10px; 
		border-radius: 5px;
		margin: 10px 5px;

	}
	.email input {
		padding: 16px 200px 16px 10px;
		border-radius: 5px;
		margin: 10px;
	}

	.green-button p {
		background-color: #A2CA28;
		width: 100px;
		border-radius: 5px;
		margin: 10px 5px;
		text-align: center;
		color: #fff;
		padding: 16px 40px;

	}
	.green-button p img {
		padding: 0 5px;
	}
	.green-button p:hover {
		background-color: #fff;
		color:#A2CA28;
	}