.catalog-sec-wrapper {
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.cat-head-wrapper {
	max-width: 1170px;
	margin: 70px auto 20px auto;
}
.cat-head-name {
	font-size: 30px; 
}
.catalog {
	width: 80%;
}
.filtre-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	background-color: #FFF9E3;
	padding: 5px 10px;
}
.filter-item {
	font-size: 16px;
	font-weight: bold;
	&:nth-child(even) {
		padding-bottom: 5px;
		border-bottom: 1px solid #000;
	}
}
.top-filtre {
	border: none;
	background-color: #FFF9E3;
}
/****** LEFT FILTRE *****/

.left-side-filtre {
	width: 20%;
	margin-right: 10px;
	height: 100vh;
	border:2px solid #FFF3C7;
}
.product-filtre {
	margin: 0;
	padding: 0;
}
.text-input-wrap {
	display: flex;
	padding: 10px 0;
	background-color: #FFF9E3;
}
.price-range {
	width: 90%;
}
.price-input  {
	margin-right: 10px; 
	width: 30%;
	text-align: center;
}
.price-name {
	padding: 0 10px 0 10px;
} 
.lf-cat {
	list-style: none;
}
.fl-cat-name {
	position: relative;
	background-color: #FFF3C7;
	cursor: pointer;
	margin: 0;
	padding: 10px 0 10px 43px;
	font-size: 18px;
	&:after{
		content: url('../../img/ar-up.png');
		height: 10px;
		width: 14px;
		float: right;
		margin-right: 15px;
	}
}
.active {
	&:after {
		content: url('../../img/ar-dwn.png');
		height: 10px;
		width: 14px;
		float: right;
		margin-right: 15px;
	}
}
.accordion-content {
	display: none;
	overflow: hidden;
	max-height: 0;
	overflow: hidden;
	/*transition: all 0.3s ease-in-out;*/
}
.items-group {
	position: relative;
	padding: 10px 10px 0 10px;
	&:last-child {
		padding-bottom: 10px;
	}
}
/*********RANGE********/
input[type=range] {
	appearance: none;
	width: 90%;
	margin: 10px;
	padding:10px 0;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #140E01;
	outline: none;
}
input[type=range]::-webkit-slider-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #140E01;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8px;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #140E01;
	outline: none;
}
input[type=range]::-moz-range-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #140E01;
	cursor: pointer;
	-moz-appearance: none;
	margin-top: -8px;
}
