.header-fon {
	position: relative;
	height: 120px;
	background-image: url('../../img/bg1.jpg');
	background-position: center;
	&:before {
		content:'';
		position:absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0,0,0, 0.7);
	}
}
.catalog-head {
	text-align: center;
	font-size: 40px;
}
.product-wrap {
	display: flex;
	margin: 20px auto;
	max-width: 1266px;
	justify-content: center; 
}
.ct-product-link {
	width: 33.33%;
	margin: 0 10px;
	overflow:hidden;
	&:hover .new-car-img {
		transform:scale(1.1);
	}
}