/***********Fixed header*************/
.fix-head-wrapper {
	display: none;
}
/***********main styles*************/
.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}
.title {
	font-size: 60px;
	font-family: Bebas_Neue, Arial, sans-serif;
	text-transform: uppercase;
}
/***********top block*************/
.main {
	/*height: 800px;*/
	background: url("../../bg-img/bg-s1.jpg") no-repeat center center;
	background-size: cover;
}
.on-top {
	padding: 34px 0 155px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-tell {
	position: relative;
	font-size: 24px;
	font-weight: bold;
	line-height: 28px;
	display: block;
	color: #fff;
	&:before {
		content:'';
		position: absolute;
		height: 16px;
		width: 16px;
		background: url('../../ico/phone-ico.png') no-repeat;
		left: -26px;
		top: 5px;
	}
}
.main-text-wrapper {
	position: relative;
}
.main-title {
	font-family: Bebas_Neue, Arial, sans-serif;
	font-size: 80px;
	line-height: 91px;
	color: #fff;
	margin: 0;
}
.main-main--t {
	position: absolute;
	font-family: Bebas_Neue;
	top: 3.250em;
	left: 9em;
	color: #fff;
	line-height: 38px;
	font-size: 24px;
}
.sec-one--discription {
	display: block;
	font-size: 16px;
	color: #fff;
	line-height: 28px;
	margin: 50px 0;
}
.order-btn {
	display: flex;
	color: #FFA741;
	padding: 27px 43px;
	width: 270px;
	border: 2px solid #FFA741;
}
.btn-arrow {
	display: block;
	height: 11px;
	width: 12px;
	margin: 2px 0 0 24px;
	background: url('../../ico/btn-arr-ico.png') no-repeat;
}
.lern-more {
	display: flex;
	align-items: center;
	padding: 126px 0 50px 0;
}
.lern-more--text {
	text-transform:uppercase;
	font-weight: bold;
	font-size: 12px;
	color: #40414B;
	margin-left: 20px;
}
/************about***************/
.about-container {
	width: 50%;
	padding: 0 94px 63px 94px;
	border-bottom: 2px solid #f1f1f1;
	border-left: 2px solid #f1f1f1;
	&:first-child {
		border-left:none;
		padding-left: 0;
	}
	&:last-child {
		padding-right: 0;
	} 
}
.about-wrapper {
	display: flex;
	margin: 120px 0;
}
.about--text {
	font-size: 15px;
	line-height: 26px;
	color: #9ea0a5;
	margin-top: 60px;
}
.about-small-title {
	font-weight: bold;
	font-size: 22px;
	margin-top: 40px;
}
/************result***************/
.result {
	background: url('../../bg-img/main-bg.jpg');
}
.result-title {
	line-height: 65px;
	text-transform: uppercase;
	color: #fff;
}
.quote {
	position: relative;
	color: #fff;
	font-size: 16px;
	margin-left: 43px;
	&:before{
		content:'';
		position:absolute;
		height: 2px;
		width: 21px;
		background-color: #ffa741;
		left: -43px;
		top: 50%;
		transform: translateY(-50%);
	}
}
.item-img {
	position: relative;
	height: 66px;
	width: 66px;
	border:2px solid #ffa741;
}
.item-ico {
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.small-square {
	position: absolute;
	top:-10px;
	right: -10px;
	width: 21px;
	height: 21px;
	border:2px solid #ffa741;
	background-color: #060D1F;
	text-align: center;
}
.small-square--digit {
	display: block;
	font-size: 10px;
	margin-top: 5px;
	color: #ffa741;
}
.result-items-wrapper {
	display: flex;
	margin-top: 100px;
	&:last-child {
		margin-top: 88px;
	}
}
.result-item {
	width: 33%;
	margin-right: 100px;
	position: relative;
	&:last-child{
		margin-right: 0;
	}
}
.item-text--title {
	margin: 36px 0 28px 0;
	color: #fff;
}
.item-text {
	font-size: 15px;
	line-height: 26px;
	color: #6b6b7b;
}
.result-wrapper {
	position: relative;
	overflow: hidden;
	padding: 110px 0 120px 0;
}
.result-cat-wrapper {
	position: absolute;
	bottom: -5px;
	left: 140px;
}
.item-cat-ico {
	position: absolute;
	/*top: -20px;*/
	left: 100px;
}
/**************industry***************/
.industry-wrapper {
	position: relative;
	margin: 168px 0 120px 0;
}
.quote-black {
	position: relative;
	display: block;
	color: #000;
	font-size: 16px;
	margin: 37px 0 67px 43px;
	&:before{
		content:'';
		position:absolute;
		height: 2px;
		width: 21px;
		background-color: #ffa741;
		left: -43px;
		top: 50%;
		transform: translateY(-50%);
	}
}
.btn-wrap {
	position: absolute;
	top: 0;
	right: 0;
}
.arr-btn {
	position: relative;
	display: block;
	height: 38px;
	width: 38px;
	border: 2px solid #FFA741;
	margin-bottom: 8px;
}
.arr-btn--img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.industry-items-wrapper {
	display: flex;
}
.industry-item {
	width: 33%;
	margin-right: 30px;
	cursor: pointer;
	&:last-child {
		margin-right: 0;
	}
	&:hover .item-digit-wrap {
		border-bottom: 2px solid #FFA741;
	}
	&:hover .item-digit {
		color: #FFA741;
	}
}
.item-digit-wrap {
	border-bottom: 2px solid #9ea0a5;
	padding-bottom: 20px;
}
.item-digit {
	font-size: 18px;
	color: #9ea0a5;
	font-family: Bebas_Neue;
}
.item-discription-wrapper {
	margin-top: 46px;
	display: flex;
}
.industry-item-icon{
	margin-right: 29px;
}
.industry-item--title {
	font-size: 22px;
	margin-bottom: 22px;
}
.industry-item--text {
	font-size: 15px;
	color: #9ea0a5;
	line-height: 26px;
}
/**************portfolio***************/
.portfolio {
	background: url(../../bg-img/main-bg.jpg);
	clear: both;
}
.portfolio-head-wrapper {
	padding: 120px 0 80px 0;
}
.portfolio-title {
	color: #fff;
}
.portfolio-row {
	display: flex;
}
.portfolio-link {
	width: 25%;
	margin: 0 30px 30px 0;
	overflow: hidden;
	&:last-child {
		margin-right: 0;
	}
	&:hover .portfolio-item{
		border: 8px solid #FFA741;
	}
	&:hover .portfolio-item::before{
		opacity: 0.7;
	}
	&:hover .portfolio-item-inner{
		opacity: 1;
	}
}
.portfolio-item {
	position: relative;
	&:before {
		position:absolute;
		display:block;
		content:'';
		width:100%;
		height: 100%;
		background-color: #060D1E;
		opacity: 0;
	}
}
.port-img {
	width: 100%;
	height: auto;
}
.portfolio-item-inner {
	position: absolute;
	opacity: 0;
	width: 100%;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	padding: 10px;
}
.prt-item {
	display: block;
}
.prt-item-title {
	font-size: 22px;
	margin-bottom: 26px;
}
.prt-item-discr {
	line-height: 26px;
}
/***************work*****************/
.work {
	height: 830px;
}
.work-wrapper {
	position: relative;
}
.work-head-wrapper {
	margin: 120px 0 95px 0 ;
}
.tab {
	position: relative;
	font-size: 22px;
	line-height: 36px;
	width: 234px;
	display: table-cell;
	font-weight: 900;
	color: #060D1E;
	padding-bottom: 16px;
	border-bottom: 2px solid #060D1E;
	&:hover {
		color:#FFA843;
		border-bottom: 2px solid #FFA843;
	}
	&:hover::after{
		background: url('../../ico/tab-down-ico.png');
	}
	&:hover::before{
		opacity: 1;
	}
	&:after {
		content:'';
		display: inline-block;
		margin-left: 25px; 
		height: 14px;
		width: 15px;
		background: url('../../ico/tab-arr-ico.png');
		transition: all .2s ease-in-out;
	}
	&:before {
		content:'';
		position: absolute;
		bottom: -8px;
		left: 45%;
		opacity: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 8px 15px 0 15px;
		transition: all .2s ease-in-out;
		border-color: #FFA843 transparent transparent transparent;
	}
}
.tab-content-wrapper {
	background: url('../../bg-img/bg-work.jpg');
	padding: 70px 60px;
}
.tab-content {
	width: 50%;
	font-size: 15px;
	line-height: 26px;
}
.work-cat {
	position: absolute;
	right: -85px;
	bottom: -190px;
}
.work-mur-img {
	position: relative;
	top: -60px;
	right: -30px;
}
/********proposition********/
.proposition {
	background: url('../../bg-img/main-bg.jpg');
	/*overflow: hidden;*/
}
.proposition-wrapper {
	position: relative;
	&:after {
		content:'';
		position:absolute;
		bottom: 0;
		width:0;
		height:0;
		border-bottom: 200px solid #fff; 
		border-right: 98.7vw solid transparent;
	}
}
.proposition-head-wrapper {
	padding: 120px 0 63px 0;
}
.proposition-title {
	color: #fff;
}
.proposition-tabs {
	display: flex;
	border-bottom: 2px solid #111A32;
}
.prop-tab {
	font-size: 12px;
	text-transform: uppercase;
	padding: 20px 34px;
	border-top: 2px solid #111A32;
	border-left: 2px solid #111A32;
	border-right: 2px solid #111A32;
	color:#6B6B7B;
	margin-left: -2px;
	&:hover {
		color:#060D1E;
		background-color: #FFA741;
		border-top: 2px solid #FFA741;
		border-left: 2px solid #FFA741;
		border-right: 2px solid #FFA741;
	}
	&:first-child {
		margin-left: 0;
	}
}
.active-prop-tab {
	color:#060D1E;
	background-color: #FFA741;
	border-top: 2px solid #FFA741;
	border-left: 2px solid #FFA741;
	border-right: 2px solid #FFA741;
}
.comerc-tap-container {
	margin-top: 100px;
	color: #fff;
}
.comerc-wrapper {
	display: flex;
}
.comerc-item {
	width: 25%;
	&:first-child .comerc-item-wrapper{
		padding-left: 0;
		border-left: none;
	}
}
.comerc-item-wrapper {
	padding: 0 0 48px 20px;
	border-left: 2px solid #111A32;

}
.com-head {
	display: block;
	font-size: 30px;
	color: #fff;
	font-family: Bebas_Neue;
	margin-bottom: 55px;
}
.com-llist-str {
	display: block;
	margin-bottom: 25px;
}
.not-included {
	opacity: 0.3;
}
.price-order-btn {
	display: block;
	text-align: center;
	color: #FFA741;
	padding: 27px 43px;
	width: 270px;
	border: 2px solid #FFA741;
}
.first-underline {
	display: block;
	width: 108%;
	height: 2px;
	background-color: #111A32;
}
.underline {
	display: block;
	width: 108%;
	height: 2px;
	background-color: #111A32;
	margin-left: -20px;
}
/****consultation***/
.consultation {
	margin-top: 150px;
	display: flex;
	position: relative;
}
.consultation-form-wrapper {
	position: relative;
	padding: 56px;
	background-color: #fff;
	width: 470px;
	border-radius: 5px;
	z-index: 9999;
	box-shadow: 0px 10px 100px 10px rgba(9,14,30, 0.3);
}
.consult-item {
	display: block;
}
.consult-head {
	font-family: Bebas_Neue;
	font-size: 60px;
	color: #090E1E;
}
.consult-discr {
	font-family: Bebas_Neue;
	color: #090E1E;
	font-size: 25px;
	margin-bottom: 40px;
}
.consult-input {
	border:none;
	border-bottom: 2px solid #E9E9E9;
	width: 100%;
	padding: 20px;
	font-size:15px;
	font-weight: bold;
	color: #ABACB1;
	&::placeholder {
		font-size:15px;
		font-weight: bold;
		color: #ABACB1;
	}
}
.form-order {
	margin-top: 40px;
}
.form-btn {
	width: 100%;
}
.consul-cat {
	position: absolute;
	bottom: 0;
	right: 0;
}
/******feedback*******/
.feedback {
	background-color: #fff;
	padding-bottom: 120px;
	border-bottom: 2px solid #F2F2F2;
}
.feedback-items-wrapper {
	display: flex;
}
.feedback-title {
	margin: 115px 0 85px 0;
}
.feedback-item {
	display: flex;
	width: 50%;
	margin-right: 30px;
	border-bottom: 2px solid #FFB054;
}
.person-img {
	min-height: 100px;
	min-width: 100px;
	background-color: #000;
	margin: 0 40px 60px 0;
}
.fb-title {
	font-size: 22px;
	font-weight: bold;
}
.fb-comp-name {
	font-size: 15px;
	color: #9EA0A5;
	margin-left: 20px;
}
.fb-text {
	display: block;
	font-size: 15px;
	color: #9EA0A5;
	line-height: 26px;
	margin-top: 30px;
}
/******clients******/
.clients-title {
	margin: 115px 0 85px 0;
}
.clients-wrapper {
	padding-bottom:120px;
}
.clients-row {
	display: flex;
	align-items: center;
	margin-top: 60px;
	&:first-child{
		margin-top: 0;
	}
}
.client {
	width: 25%;
}
/*******ready**********/
.ready {
	background: url('../../bg-img/ft-bg.jpg') no-repeat;
	background-size: cover;
}
.ready-title {
	padding: 115px 0 55px 0;
	color: #fff;
}
.ready-text {
	display: block;
	max-width: 450px;
	color: rgba(255,255,255,0.5);
	font-size: 15px;
	line-height: 26px;
}
.ready-order-btn {
	display: inline-block;
	color: #FFA741;
	padding: 27px 43px;
	border: 2px solid #FFA741;
	margin: 60px 0 164px 0;
}
/***********footer**************/
.footer {
	border-top:2px solid #292F3D;
}
.ft-wrapper {
	color: #fff;
	display: flex;
	align-items: center;
	padding: 30px 0;
}
.ft-tel-wrapper {
	margin-right: auto;
}
.ft-tel {
	display: block;
	margin-left: 60px;
}
.ft-text {
	font-size: 12px;
	color: #fff;
	margin-left: 30px;
}