/***********Fixed header*************/
.fix-head-wrapper {
	display: none;
}
/***********main styles*************/
.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}
/***********top block*************/
.main {
	/*height: 800px;*/
	background: url("../../bg-img/bg-s1.jpg") no-repeat center center;
	background-size: cover;
}
.on-top {
	padding: 34px 0 155px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-tell {
	position: relative;
	font-size: 24px;
	font-weight: bold;
	line-height: 28px;
	display: block;
	color: #fff;
	&:before {
		content:'';
		position: absolute;
		height: 16px;
		width: 16px;
		background: url('../../ico/phone-ico.png') no-repeat;
		left: -26px;
		top: 5px;
	}
}
.main-text-wrapper {
	position: relative;
}
.main-title {
	font-family: Bebas_Neue;
	font-size: 80px;
	line-height: 91px;
	color: #fff;
	margin: 0;
}
.main-main--t {
	position: absolute;
	font-family: Bebas_Neue;
	top: 3.250em;
	left: 9em;
	color: #fff;
	line-height: 38px;
	font-size: 24px;
}
.sec-one--discription {
	display: block;
	font-size: 16px;
	color: #fff;
	line-height: 28px;
	margin: 50px 0;
}
.order-btn {
	display: flex;
	color: #FFA741;
	padding: 27px 43px;
	width: 270px;
	border: 2px solid #FFA741;
}
.btn-arrow {
	display: block;
	height: 11px;
	width: 12px;
	margin: 2px 0 0 24px;
	background: url('../../ico/btn-arr-ico.png') no-repeat;
}
.lern-more {
	display: flex;
	align-items: center;
	padding: 126px 0 50px 0;
}
.lern-more--text {
	text-transform:uppercase;
	font-weight: bold;
	font-size: 12px;
	color: #40414B;
	margin-left: 20px;
}
/************about***************/
.about-container {
	width: 50%;
	padding: 0 94px 63px 94px;
	border-bottom: 2px solid #f1f1f1;
	border-left: 2px solid #f1f1f1;
	&:first-child {
		border-left:none;
		padding-left: 0;
	}
	&:last-child {
		padding-right: 0;
	} 
}
.about-wrapper {
	display: flex;
	margin: 120px 0;
}
.about--title {
	font-family: Bebas_Neue;
	font-size: 60px;
}
.about--text {
	font-size: 15px;
	line-height: 26px;
	color: #9ea0a5;
	margin-top: 60px;
}
.about-small-title {
	font-weight: bold;
	font-size: 22px;
	margin-top: 40px;
}
/************result***************/
.result {
	background: url('../../bg-img/main-bg.jpg');
}
.result-title {
	font-size: 60px;
	font-family: Bebas_Neue;
	line-height: 65px;
	text-transform: uppercase;
	color: #fff;
}
.quote {
	position: relative;
	color: #fff;
	font-size: 16px;
	margin-left: 43px;
	&:before{
		content:'';
		position:absolute;
		height: 2px;
		width: 21px;
		background-color: #ffa741;
		left: -43px;
		top: 50%;
		transform: translateY(-50%);
	}
}
.item-img {
	position: relative;
	height: 66px;
	width: 66px;
	border:2px solid #ffa741;
}
.item-ico {
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.small-square {
	position: absolute;
	top:-10px;
	right: -10px;
	width: 21px;
	height: 21px;
	border:2px solid #ffa741;
	background-color: #060D1F;
	text-align: center;
}
.small-square--digit {
	display: block;
	font-size: 10px;
	margin-top: 5px;
	color: #ffa741;
}
.result-items-wrapper {
	display: flex;
	margin-top: 100px;
	&:last-child {
		margin-top: 88px;
	}
}
.result-item {
	width: 33%;
	margin-right: 100px;
	position: relative;
	&:last-child{
		margin-right: 0;
	}
}
.item-text--title {
	margin: 36px 0 28px 0;
	color: #fff;
}
.item-text {
	font-size: 15px;
	line-height: 26px;
	color: #6b6b7b;
}
.result-wrapper {
	position: relative;
	padding: 110px 0 120px 0;
}
.result-cat-wrapper {
	position: absolute;
	bottom: -5px;
	left: 140px;
}
.item-cat-ico {
	position: absolute;
	/*top: -20px;*/
	left: 100px;
}
/**************industry***************/
.industry-wrapper {
	position: relative;
	margin: 168px 0 120px 0;
}
.industry-title {
	font-size: 60px;
	text-transform: uppercase;
	font-family: Bebas_Neue;
}
.quote-black {
	position: relative;
	display: block;
	color: #000;
	font-size: 16px;
	margin: 37px 0 67px 43px;
	&:before{
		content:'';
		position:absolute;
		height: 2px;
		width: 21px;
		background-color: #ffa741;
		left: -43px;
		top: 50%;
		transform: translateY(-50%);
	}
}
.btn-wrap {
	position: absolute;
	top: 0;
	right: 0;
}
.arr-btn {
	position: relative;
	display: block;
	height: 38px;
	width: 38px;
	border: 2px solid #FFA741;
	margin-bottom: 8px;
}
.arr-btn--img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.industry-items-wrapper {
	display: flex;
}
.industry-item {
	width: 33%;
	margin-right: 30px;
	cursor: pointer;
	&:last-child {
		margin-right: 0;
	}
	&:hover .item-digit-wrap {
		border-bottom: 2px solid #FFA741;
	}
	&:hover .item-digit {
		color: #FFA741;
	}
}
.item-digit-wrap {
	border-bottom: 2px solid #9ea0a5;
	padding-bottom: 20px;
}
.item-digit {
	font-size: 18px;
	color: #9ea0a5;
	font-family: Bebas_Neue;
}
.item-discription-wrapper {
	margin-top: 46px;
	display: flex;
}
.industry-item-icon{
	margin-right: 29px;
}
.industry-item--title {
	font-size: 22px;
	margin-bottom: 22px;
}
.industry-item--text {
	font-size: 15px;
	color: #9ea0a5;
	line-height: 26px;
}
/**************portfolio***************/
.portfolio {
	background: url(../../bg-img/main-bg.jpg);
	clear: both;
}
.portfolio-head-wrapper {
	padding: 120px 0 80px 0;
}
.portfolio-title {
	font-size: 60px;
	font-family: Bebas_Neue, Arial, sans-serif;
	color: #fff;
}
.portfolio-row {
	display: flex;
}
.portfolio-link {
	width: 25%;
	margin: 0 30px 30px 0;
	overflow: hidden;
	&:last-child {
		margin-right: 0;
	}
	&:hover .portfolio-item{
		border: 8px solid #FFA741;
	}
	&:hover .portfolio-item::before{
		opacity: 0.7;
	}
	&:hover .portfolio-item-inner{
		opacity: 1;
	}
}
.portfolio-item {
	position: relative;
	&:before {
		position:absolute;
		display:block;
		content:'';
		width:100%;
		height: 100%;
		background-color: #060D1E;
		opacity: 0;
	}
}
.port-img {
	width: 100%;
	height: auto;
}
.portfolio-item-inner {
	position: absolute;
	opacity: 0;
	width: 100%;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	padding: 10px;
}
.prt-item {
	display: block;
}
.prt-item-title {
	font-size: 22px;
	margin-bottom: 26px;
}
.prt-item-discr {
	line-height: 26px;
}
/***************work*****************/
