.header {
	position: absolute;
	z-index: 2;
	width: 100%;
	top:0;
	min-width: 1170px;
}
.nav-wrap {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 40px;
}
.nav-menu--link {
	text-decoration: none;
	padding: 10px 0;
	margin: 0 20px;
	color: #fff;
	transition: all 0.3s ease;
	&:hover {
		border-bottom:1px solid #277abf;
		color:  #277abf;
	}
}
.nav-menu {
	text-decoration: none;
	padding: 10px 0;
	margin: 0 20px;
	color: #fff;
	transition: all 0.3s ease;
	&:hover {
		color:  #277abf;
	} 
}
.second-phone {
	margin: 0;
	padding: 0;
	padding-left: 20px;
	border-left: 2px solid #fff;
}
.order-btn {
	padding: 16px 20px;
	background-color: #007BC2;
	transition: all 0.3s ease;
	&:hover {
		color:#277abf;
		background-color: #fff;
	}
}
.header-slider {
	position: relative;
	margin-top: -40px;
	height: 100vh;
	background-image: url('../../img/bg1.jpg');
	background-size: cover;
	min-width: 1170px;
	&:before {
		content:'';
		position:absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0,0,0, 0.7);
	}
}
.slide {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.head {
	color: #fff;
}
.product-slider-wrap {
	display: flex;
	margin: 20px 100px;
	justify-content: space-around; 
}
.product-slide {
	background-color: #242424;
	position: relative;
}
.product-link {
	width: 20%;
	margin: 0 10px;
	overflow:hidden;
	&:hover .new-car-img {
		transform:scale(1.1);
	}
}

.new-car-img {
	width: 100%;
	height: 100%;
	transition: all 0.3s ease;
}
.item {
	overflow: hidden;
	text-align: center;
}
.item-img {
	width: 100%;
	height: 100%;
}
.item-discr {
	color: #fff;
	padding: 20px;
}
.item-head {
	margin: 0 0 20px 0;
	padding: 0;
}
.par-list-item {
	font-size: 14px;
	line-height: 20px;
}
.parametr-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.cleare-box {
	position: absolute;
	bottom: 20px;
	right: 20px;
	text-align: center;
	background-color: #007BC2;
	padding: 15px 5px;
}
.cleare-box--sp {
	display: block;
	color: #fff;
}
.precent {
	font-weight: bold;
	font-size: 18px;
}
.cleared {
	font-size: 8px;
}
.price {
	margin-top: 20px;
	font-size: 24px;
	color: #277abf;
	font-weight: bold;
}
.item-sold {
	position: relative;
	font-size: 40px;
	letter-spacing: 1px;
	color: rgba(255,255,255, 0.5);
	transition: all 0.3s ease;
	&:after {
		content:'ПРОДАНО';
		position: absolute;
		z-index: 3;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%); 
	}
}
.sold {
	&:hover .item{
		color: rgba(255,255,255, 0.9);
	}
	&:before {
		content:'';
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: rgba(0,0,0, 0.5);
		z-index: 2;
	}
}
.about-wrap {
	display: flex;
	width: 60%;
	margin: 0 auto;
	/*justify-content: space-between;*/
}
.about-logo {
	padding-right: 50px;
}
.about-text-container {
	width: 70%;
	padding-left: 50px;
	border-left:1px solid #D9D9D9;
}
.about-text {
	line-height: 24px;
	color: #292929;
}
.sign {
	width: 10%;
	margin: 39px auto 0 auto;
}
.about {
	background-color: #F0F0F0;
	padding: 80px 0; 
}
.info-section-wrap {
	display: flex;
	margin: 80px auto ;
	width: 1170px;
	justify-content: space-around;
}
.info-item {
	display: flex;
	width: 33.33%;
}
.text-wrap {
	margin: 0 20px;
}
.sign-img {
	opacity: 0.7;
}
@media screen and (max-width: 1366px) {
	.about-wrap {
		width: 80%;
	}
	.product-slider-wrap {
		margin: 20px 10px;
	}
}