@import 'index';
@font-face {
	font-family: Bebas_Neue;
    src: url('../../fonts/Bebas_Neue.ttf');
}
@font-face {
	font-family: MuseoSansCyrl;
    src: url('../../fonts/MuseoSansCyrl.otf');
}
/*body {
	overflow: hidden;
}*/
* {
  box-sizing: border-box;
  outline: none;
  text-decoration:none;
  font-family: MuseoSansCyrl;
  transition: all 0.2s ease-in-out;
  margin: 0;
  padding: 0;
  list-style: none;
}
