	* 
	{
		font-family: 'Arial', sans-serif; 
		outline: none;
		text-decoration: none;
	}
	body 
	{
		margin:0;
		padding: 0;
		width: 1349px;
		/*height: 10000px;*/
		margin: 0 auto;
	}
	header 
	{
		position: fixed;
		background-color: #000;
		color: #fff;
		height: 90px;
		width: 1349px;
		margin: 0 auto;
		z-index: 99;
	}
	header ul li
	{
		display: inline-block;
		padding: 5px 0;
		vertical-align: middle;
		border:2px solid #000;
		border-radius: 10px;
		transition: 0.2s;
	}
	header ul li:hover
	{
		border:2px solid #fff;
	}
	header ul li:nth-child(1)
	{
		margin: 0;
		padding: 0;
		border: none;
	}
	header ul li:nth-child(2)
	{
		margin: 0;
		padding: 0;
		border: none;
	}
	header ul li:nth-child(3)
	{
		margin-left:  70px;
	}
	header ul
	{
		height: 80px;
		margin:0;
	}
	header ul li p 
	{
		
		font-style: italic;;
		line-height: 3px;
		font-size: 30px;

	}
	header ul li a
	{
		padding: 10px 20px;
		text-decoration: none;
		color: #fff;
		font-size: 20px;

	}
	.under-header
	{
		padding:90px 0;
		text-align: center;
		background-image: url('.//images/background-head.jpg');
		border-bottom: 40px solid #A1A1A1;
	}
	.under-header img
	{
		margin-top: 75px
	}
	.under-header img:hover
	{
		transform: scale(1.1);
	}
	.under-header ul
	{
		text-align: right;
		margin-bottom: -80px;
		margin-right: 50px;
	}
	.under-header ul li
	{
		display: inline-block;
		margin:0 10px;
	}
	.slider
	{
		position: relative;
		background-color: #cacaca;
		height: 500px;
		background-image: url('.//images/background-slider.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		border-bottom: 40px solid #A1A1A1;
	}
	.slider-button
	{
		position: absolute;
		background: none;
		border: none;
		opacity: 0.3;
		transition: 0.2s;
	}
	.slider-button:hover
	{
		opacity: 1;
	}
	#slider-button-left
	{
		left: 20px;
		top:40%;
	}
	#slider-button-right
	{
		right: 28px;
		top:40%;
	}
	.service-logo
	{
		height: 100px;		
		background-color: rgba(0, 0, 0, 0.7);
		text-align: center;
	}
	.service-logo h1
	{
		font-size: 50px;
		padding: 20px 0;
		margin: 0;
		color: #fff;
	}
	.service
	{
		background-color: #cacaca;
		min-height: 650px;
		background-image: url('.//images/background-service.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		border-bottom: 20px solid rgba(161, 161, 161, 0.7);
	}
	.service ul
	{
		text-align: center;
	}
	.service ul li
	{
		display: inline-block;
		text-align: center;
		margin:70px 20px 0 20px;
		vertical-align: top;
	}
	.service ul li:nth-child(3) h2
	{
		width: 100px;
		margin: 20px auto;
	}
	.service ul li p
	{
		font-size: 20px;
		font-weight: bold;
		border:2px solid #000;
		border-radius: 10px;
		width: 160px;
		margin:0 auto;
		padding: 5px;
		transition: 0.2s;
	}
	.service ul li p:hover
	{
		background-color: rgba(255, 255, 255, 0.7); 
	}
	.service ul li a
	{
		text-decoration: none;
		color: #000;
	}
	.service ul li h2
	{
		width: 250px;
	}
	.service ul li .img-wrapper
	{
		border: 5px solid #000;
		height: 200px;
		width: 200px;
		margin:0 auto;
		border-radius:49%;
		background-color: rgba(255, 255, 255, 0.7);
	}
	.service ul li .img-wrapper img
	{
		margin-top: 45px;
	}
	.tab .tab-info p
	{

		width: 1000px;
		margin:0 auto;
	}
	.master-logo
	{
		height: 100px;		
		background-color: rgba(255, 255, 255, 0.8);
		text-align: center;
		margin: 80px 0 0 0;
	}
	.master-logo h1
	{
		font-size: 50px;
		padding: 20px 0;
		color: #000;
	}
	.master-section
	{
		background-image: url('.//images/background-master.jpg');
		margin-top: -16px;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.master-list
	{
		text-align: center;
		padding:130px 0;
	}
	.master-list ul li
	{
		display: inline-block;
		margin: 0 40px;
	}
	.master-list ul li a h2
	{
		transition: 0.2s;
	}
	.master-list ul li a h2:hover
	{
		transform: scale(1.1);
	}
	.master-list ul li a
	{
		text-decoration: none;
		color: #000;
		transition: 0.2s;
	}
	.master-list ul li a:hover
	{
		
		color: #E6202B;
	}
	.master-list ul li img
	{
		margin:0 10px;
		transition: 0.2s;
	}
	.master-list ul li img:hover
	{
		/*transform: rotate(360deg);*/
		transform: scale(1.1);
	}
	.master-list ul li p
	{
		font-size: 20px;
		font-style: italic;
		font-weight: 600;
		width: 260px;
		color:#242424;
	}
	.master-list ul li .face-img
	{
		height: 270px;
		width: 267px;
		border-radius: 10px;
		background-size: cover;
		transition: 0.2s;
	}
	.master-list ul li .face-img:hover
	{
		transform: scale(1.1);
	}
	.master-list ul li .face1
	{
		background-image: url('.//images/men1.png');
	}
	.master-list ul li .face2
	{
		background-image: url('.//images/men2.png');
	}
	.master-list ul li .face3
	{
		background-image: url('.//images/women.png');
	}
	.gallery-section
	{
		background-image: url('.//images/background-gallery.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		padding: 100px 0;
	}
	#gallery {
		display: inherit;
		width: 100%;
		text-align: center;
		margin: .75% 0;
		
	}

	#gallery .image-wrapper
	{
		width: 20%;
		min-width: 170px;
		position: relative;
		display: inline-block;
		margin: 1.25%;
		transition:all 0.6s ease;
		vertical-align: top;
		background-color: rgba(255,255,255, 0.7);
		border: 7px solid #737373;
		border-radius: 10px; 
	}
	#gallery .image-wrapper .p-img
	{
		font-size:20px;
		font-weight: 600;
		color: #2D2D2D;
	}
	#gallery .imege {
		width: 100%;
	}

	.hoverover p {
		/*font-style: Italic;*/
		font-size: 1.5em;
		font-weight: 600;
		position: absolute;
		top:40%;
		left:-1%;
		right:0;
		color: #fff;
	}
	.hoverover {
		opacity: 0;
		/*line-height: 500px;*/
		position: absolute;
		border:7px solid #737373; /*#D3D8B8*/;
		background-color: rgba(128,128,128,0.6);
		border-radius: 5px;
		height: 100%;
		width: 100%;
		margin: -7px;
		color: #D3D8B8;
		z-index: 1;
		transition: all 0.3s ease;
	}
	#gallery .image-wrapper:hover .hoverover {
		/*visibility: visible;*/
		opacity: 1.0;
		transition: opacity .3s;
	}
	.contact-section
	{
		background-image: url('.//images/background-contact.jpg');
		margin-bottom: -16px;
		clear: both;
		/*height: 800px*/
	}
	.contact-section .map
	{
		float: left;
		margin: 100px 50px 100px 50px;
		border: 7px solid #3E3E3E;
		border-radius: 10px; 
	}
	.contact-section ul
	{
		margin: 100px 50px 0 50px;
	}
	.contact-section ul li
	{
		font-size: 30px;
		text-align: center;
		font-weight: 600;
		list-style: none;
	}
	.contact-section ul li h2
	{
		font-weight: 700;
	}
	.contact-logo 
	{
		height: 100px;		
		background-color: rgba(255, 255, 255, 0.8);
		text-align: center;
		margin: -43px 0 0 0;
	}
	.contact-section footer
	{
		clear: both;
		margin-top: 100px;
		background-color: rgba(0, 0, 0, 0.8);
		text-align: center;
		color: #fff;

	}
	.contact-section footer ul
	{
		text-align: center;
	}
	.contact-section footer ul li
	{
		display: inline-block;
		color: #fff;
		margin:0 50px;
		vertical-align: middle;
	}
	.contact-section footer ul li img
	{
		margin: 0 10px;
	}
	.contact-section footer ul li .last-ico
	{
		margin: 0 10px;
	}
	.contact-section footer ul li .last-ico:hover
	{
		transform: scale(1.1);
	}
	.contact-section footer ul li p
	{
		font-style: italic;;
		line-height: 3px;
		font-size: 30px;
	}
	footer .copy-rights
	{
		text-align: center;
		color: #fff;
		font-size:10px;
	}

