.contacts {
	/*background-repeat: no-repeat;*/
	/*background-image: url('../../img/s-two-bg.jpg');*/
	padding-bottom: 46px;
}

.map {
	position: relative;
	min-width: 1166px;
	max-width: 1166px;
	margin: 0 auto;
}
.to-call {
	position: absolute;
	top:50%;
	right: 0;
	transform: translateY(-50%);
	background-color: #ECECEC;
	padding: 20px 40px 20px 20px;
}
.address {
	position: relative;
	display: block;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	color:#000;
	&:before {
		content:'';
		display: inline-block;
		height: 15px;
		width: 16px;
		margin: 0 7px -7px 7px;
		padding: 5px;
		vertical-align: center;
		background-image: url('../../img/place.svg');
		background-repeat: no-repeat;
		background-position: center center;
	}
	&:hover:before {
		border-right: 1px solid #A7D275;
		border-radius: 50%;
		transition: all 0.3s;
		transform: rotateY(360deg);
	}
}
.to-call__link {
	margin: 10px 0;
}