.product {
	background-image: url('../../img');
}
.sl {
	max-width: 1166px;
	margin: 0 auto;
}
.sl-slide {
	position: relative;
	height: 450px;
	width: 100%;
	margin: 0 10px;
	background-size: cover;
	/*&:after
	{
		content:'';
		position: absolute;
		display: block;
		width: 30%;
		background-color: rgba(0, 0, 0, 0.6);
		right: 0;
		top:0;
		bottom: 0;
	}*/
	&:before {
		content:'';
		display: block;
		position: absolute;
		background-color: rgba(113,110,155, 0.7);
		transition: all 0.3s;
		top: 0;
		bottom: 50%;
		left: 50%;
		right: 50%;
	}
	&:hover:before {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
.sl-slide__img {
	position: relative;
	margin:20px;
	z-index: 1;
}
.sl-slide__text {
	position: absolute;
	bottom: 40%;
	right: -50%;
	display: block;
	font-size: 32px;
	font-family: 'conthraxsb', 'Arial', sans-serif;
	color: #fff;
	white-space: nowrap;
	transform: rotate(-90deg);
	z-index: 1;
}
.sl-slide_1 {
	background-image: url('../../img/p2.jpg');
}
.sl-slide_2 {
	background-image: url('../../img/p1.jpg');
}
.sl-slide_3 {
	background-image: url('../../img/p2.jpg');
}
.sl-slide_4 {
	background-image: url('../../img/p1.jpg');
}
.sl-slide_5 {
	background-image: url('../../img/p2.jpg');
}
.sl-slide_6 {
	background-image: url('../../img/p1.jpg');
}
.sl-slide_7 {
	background-image: url('../../img/p2.jpg');
}
.sl-slide_8 {
	background-image: url('../../img/p1.jpg');
}
