.questions {
	background-image: url('../../img/s-five-bg.jpg');
	background-size: cover;
	padding-bottom: 46px;
	text-align: center;
}
.take-question-form__head {
	display: block;
	font-weight: bold;
	margin-top: 20px;
}
.questions-wrap {
	display: flex;
	min-width: 1166px;
	max-width: 1166px;
	margin: 0 auto;
	text-align: center;
}
.take-question-wrap {
	width: 50%;
	margin-right: 40px;
}
.form-discr {
	position: relative;
	width: 50%;
	text-align: left;
}
.take-question-form__input {
	display: block;
	width: 100%;
	margin-bottom: 20px;
}
.take-question-form__text {
	width: 100%;
}
.form-discr__text {
	display: block;
	color: #323232;
	line-height: 21px; 
}
.take-question-form__text {
	padding: 10px;
	border:1px solid #b2b2b2;
	resize: none;
}
.take-question-form__input {
	padding: 10px;
	border:1px solid #b2b2b2;
}
.logo2 {
	position: absolute;
	height: 104px;
	width: 152px;
	bottom: 0;
	right: 0;
	background-image: url('../../img/logo2.png');
	background-repeat: no-repeat;
	background-size: cover;
}
