.about-service__wrap {
	min-width: 1166px;
	max-width: 1166px;
	margin: 0 auto;
}
.service-wrap {
	display: flex;
	margin: 20px 0;
}
.service-text-wrap {
	width: 50%;
}
.serv-text {
	padding:0 20px;
	text-align: left;
	line-height: 21px;
	width: 50%;
	color: #323232;
}
.serv-img {
	display: block;
	width: 50%;
}
.serv-list {
	li {
		margin: 10px 0;
		color: #323232;
	}
}
.service-wrap:last-child .serv-text {
	padding: 0 20px 0 0;
}
.tabs {
	display: flex;
	padding: 10px;
	list-style: none;
	font-weight: bold;
	font-size: 14px;
	min-width: 1166px;
	max-width: 1166px;
	margin: 0 auto;
}
.tab-link {
	color: #2E368F;
	font-family: 'conthraxsb', 'Arial', sans-serif;
	&:active {
		color:#F2BA02;
	}
}
.active {
	color: #A7D275;
	padding-bottom: 10px;
}
.tab {
	border-left: 2px solid  #A7D275;
	padding: 10px 10px;
	height: 100%;
	padding-bottom: 5px;
	position: relative;
	font-size: 14px;
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: -7px;
		left: 0;
		background-color: #A7D275;
		visibility: hidden;
		transform: scaleX(0);
		transition: all 0.3s ease-in-out 0s;
	}
	&:hover {
		color:#A7D275;
	}
	&:hover:before {
		visibility: visible;
		transform: scaleX(1);
	}
}
.serv-table {
	width: 100%;
}
.serv-table--part {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #b2b2b2;
}
.serv-table--text {
	width: 33.3333%;
	margin: 20px 0;
	color: #323232;
	font-weight: bold;
}
.serv-table--head {
	text-align: center;
	font-family: 'conthraxsb', 'Arial', sans-serif;
	color: #2E368F;
}
.serv-table--list {
	list-style-type:circle;
	width: 33.3333%;
	text-align: left;
	padding: 0 10px;
	color: #323232;
}
.serv-table-col4 {
	width: 25%;
	padding: 0 14px;
}
.tab:first-child {
	border-left: none;
}
.serv-img1 {
	background-image: url('../../serv-img/serv1_1.jpg');
	background-size: cover;
}
.serv-img1-1 {
	background-image: url('../../serv-img/serv1.jpg');
	background-position: center center;
	background-size: cover;
}
.serv-img2 {
	background-image: url('../../serv-img/serv2.jpg');
	background-size: cover;
}
.serv-img2-1 {
	background-image: url('../../serv-img/serv2_1.jpg');
	background-position: center center;
	background-size: cover;
}
.serv-img3 {
	background-image: url('../../serv-img/serv3.jpg');
	background-position: center center;
	background-size: cover;
}
.serv-img3-1 {
	background-image: url('../../serv-img/serv3_1.jpg');
	background-position: center center;
	background-size: cover;
}
.serv-img4 {
	display: block;
	width: 100%;
	height: 400px;
	background-image: url('../../serv-img/serv4.jpg');
	background-repeat: no-repeat;
	background-size: cover;

}
.serv-img5 {
	display: block;
	width: 100%;
	height: 400px;
	background-image: url('../../serv-img/serv5.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.serv-img6 {
	display: block;
	width: 100%;
	height: 400px;
	background-image: url('../../serv-img/serv6.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}