	* {
		margin: 0 auto;
		padding: 0;
		font-family: Arial, serif;
	}

	body {
		width: 100%;
		min-width: 1349px;
	}

	/**************************
TOP HEADER
	**************************/
	#top-head {
		background-image: url(".//img/Shape 1.jpg");
		background-position: center;
		background-size: cover;
		height: 950px;
		position: relative;
	}
	.top-head-text {
		text-align: center;

	}
	.top-head-text h1 {
		font-size: 110px;
		padding: 30px 0 50px 0;
		color: #fff;
		font-family: 'Bubbler One', sans-serif;
	}
	.top-head-text p.fusce {
		font-size: 45px;
		padding: 10px 20px;
		color: #fff;
	}
	.top-head-text p.Vestibulum {
		font-size: 22px;
		margin: 0 0 130px 0;
		padding: 0 250px;
		color: #fff;
	}
	.top-head-buttons li.left:nth-child(2) {
	/*text-align: left;*/
		margin: 0 450px 0 0;	
	}

	.top-head-buttons {
		text-align: center;
	}
	.top-head-buttons ul li {
		display: inline-block;
		text-align: center;
		margin: 20px;
		width: 165px;
		height: 180px;
		background-image: url(".//img/Shape 2.png");
		background-repeat: no-repeat;
		background-size: cover;
	}
	.top-head-buttons ul li:hover {
		
		display: inline-block;
		margin: 20px;
		width: 165px;
		height: 180px;
		background-image: url(".//img/Shape 2.1.png");
		background-repeat: no-repeat;
		background-size: cover;
	}
	.top-head-buttons ul li a {
		text-decoration: none;
		color: #fff;
	}
	.top-head-buttons ul li a img {
		padding: 50px 0 20px 0;
	}
	.scroll-button {
		margin-top: -60px; 
		height: 93px;
		width: 85px;
	}
	.scroll-button:hover {
		height: 93px;
		width: 85px;
		background-image: url(".//img/arrow2.png");
		background-size: cover;
		background-repeat: no-repeat;
	}


	
	
	/**************************
HEAD NAV
	**************************/

	#head-nav ul li {
		display: inline-block;
		line-height: 125px;
		margin: 15px;
	}
	#head-nav ul li a p {
		font-size: 20px;
	}
	#head-nav ul li a {
		text-decoration: none;
		color: #8F8F8F;
	}
	#head-nav ul li a:hover {
		text-decoration: none;
		color: #9F449B;
	}
	#head-nav h1 {
		color: #8F8F8F;
		font-family: 'Bubbler One', sans-serif;
	}
	#head-nav {
		height: 145px;
		text-align: center;
	}
	#head-nav ul li:nth-child(1) {
		margin: 0 400px 0 0;
	}
	/**************************
SECTION1
	**************************/
	#section1 {
		text-align: center;
		height: 795px;
		background-color: #EEEEEE;
	}

	#section1 ul li {
		margin: 200px 0; 
		width: 290px;
		height: 410px;
		display: inline-block;
		list-style: none;
	} 
	#section1 ul li h1{
		font-size: 24px;
		margin: 30px;
		color: #888888;
	}
	#section1 ul li p{
		font-size: 16px;
		line-height: 25px;
		margin: 30px;
		color: #888888;
	}
	#section1 ul li div.img img{
		margin: 60px 0;
	}

	#section1 ul li .img {
		width: 165px;
		height: 180px;
		background-image: url(".//img/Shape 2.2.png");
		background-repeat: no-repeat;
		background-size: cover;
		
	}
	/**************************
SECTION2 ABOUT US
	**************************/

	#section2 {
		/*display: inline-block;*/
		text-align: center;
		/*content-align: center;*/
		height: 1000px;
		
	}
	#section2 .about h1 {
		width: 360px;
		height: 150px;
		font-size: 80px;
		text-align: center;
		margin: 175px auto;
		color: #7E7E7E;
		line-height: 130px;
		background-image: url(".//img/Shape 6.png");
		background-repeat: no-repeat;
		background-size:cover;
		background-position: center;
		font-family: 'Bubbler One', sans-serif;
	}
	#section2 ul li {
	    height: 420px;
    	width: 650px;
    	display: inline-block;
    	vertical-align: top;
	}
	#section2 ul li p {
		margin-left: 30px; 
		font-size: 20px;
   		line-height: 45px;
    	text-align: left;
		}
	#section2 ul li h2 {
		width: 150px;
		margin: 118px 0 0 30px;
		text-align: center;
		padding: 20px 40px; 
    	border-radius: 10px;
    	background-color: #9F449B;
    }
    #section2 ul li a{
    	text-decoration: none;
    	color: #fff;
    }
	
	/**************************
SECTION3 STUDY
	**************************/
		
	#section3 {
		height: 625px;
		background-image: url(".//img/Layer 4.png");
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
	}
	.study-ico {
		display: inline-block;
		text-align: center;
		margin: 200px 0 0 0;
		width: 166px;
		height: 180px;
		background-image: url(".//img/Shape 2.png");
		background-repeat: no-repeat;
		background-size: cover;
	}
	.study-ico img {
		margin: 65px 0 0 0;
	}
	#section3 h1 {
		color: #fff;
		margin: 50px;
		font-size: 60px;
	}
	/**************************
SECTION4 TEAM
	**************************/
	#section4 {
		height: 1920px;
	}
	#section4 .about h1{
		width: 360px;
		height: 150px;
		margin: 175px auto;
		font-size: 70px;
		color: #7E7E7E;
		line-height: 130px;
		background-image: url(".//img/Shape 6.png");
		background-repeat: no-repeat;
		background-size:cover;
		background-position: center;
		font-family: 'Bubbler One', sans-serif;
	}
	#section4 .arrows,.about {
		text-align: center;
	}
	#section4 .arrows img {
		margin: 5px;
	}

	.team {
		text-align: center;
	}
	.team .team-box ul li{
		margin: 160px 150px 0 0;
		display: inline-block;
	}
	.team .team-box ul li:nth-child(3) {
		margin: 0;

	}
	.team .team-box ul li .team-img {
		height: 250px;
		width: 250px;
		border-radius: 55%;
		overflow: hidden;
		background-color: #CDCDCD;

	}
	.team .team-box ul li h1 {
		margin: 85px 0 30px 0;
		color: #5E5E5E;
	}
	.team .team-box ul li p {
		font-size: 27px;
		color: #CDCDCD;
	}
	.team .team-box ul li img {
		margin: 35px 20px;
		padding: 15px 20px;
		border: 1px solid #CDCDCD;
		border-radius: 50%;
	}
	.team-gra {
		text-align: center;
	}
	.team-gra .top-gra,.bottom-gra {
		list-style: none;
		display: inline-block;
		text-align: left;
		margin-right: 50px; 
	}
	.gra-box {
		height: 70px;
		width: 410px;
	}
	
	.gra-box ul {
		list-style: none;
		
	}
	.gra-box ul li  {
		display: inline-block;
	}
	
	/**************************
SECTION5
	**************************/
	#section5 {
		height: 650px;
		background-image: url(".//img/Layer 4.png");
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
	}
	.study-ico {
		display: inline-block;
		text-align: center;
		margin: 200px 0 0 0;
		width: 166px;
		height: 180px;
		background-image: url(".//img/Shape 2.png");
		background-repeat: no-repeat;
		background-size: cover;
	}
	.study-ico img {
		margin: 65px 0 0 0;
	}
	#section5 h1 {
		color: #fff;
		margin: 50px;
		font-size: 70px;
	}
	/**************************
SECTION6
	**************************/
	#section6 {
		height: 965px;
		text-align: center;
		background-color: #EEEEEE;
	}
	#section6 ul li{
		display: inline-block;
		text-align: center;
		margin: 82.5px;
	}
	#section6 ul li h1 {
		font-size:60px;
		color: #404040;
	}
	#section6 ul li p{
		color: #AAAAAA;
	}
	#section6 ul li:nth-child(4){
		display: inline-block;
		text-align: center;
		margin: 0l
	}
	.fusce .team-img {
		margin: 150px auto 50px auto;
		height: 250px;
		width: 250px;
		border-radius: 55%;
		overflow: hidden;
		background-color: #CDCDCD;

	}
	.fusce p {
		margin: 20px 190px;
		font-size: 35px;
		color: #888888;
	}
	.fusce h2 {
		color: #CDCDCD;
	}
	/**************************
SECTION7
	**************************/
	#section7 {
		height: 2800px;
	}
	.section7-center {
		width: 1300px;
		margin: -60px auto;
		background-color: #fff;
		text-align: center;
	}
	.about h1{
		margin: 5px auto;
		width: 360px;
		height: 150px;
		font-size: 50px;
		color: #7E7E7E;
		line-height: 130px;
		background-image: url(".//img/Shape 6.png");
		background-repeat: no-repeat;
		background-size:cover;
		background-position: center;
		font-family: 'Bubbler One', sans-serif;
	}
	#section7 .about {
		padding: 100px;
		background-color: #fff;
	}
	.section7-center .foot-nav li {
		display: inline-block;
		margin: 5px;
		padding: 10px 30px;
		border-radius: 5px;
		text-decoration: none;
		color: #525252;
		border: 0.5px solid #525252;

	}
	.section7-center .foot-nav li:hover {
		display: inline-block;
		text-decoration: none;
		margin: 5px;
		padding: 11px 31px;
		border-radius: 5px;
		background-color: #9F449B;
		color: #fff;
		border: none;
	}
	.foot-gallery ul li {
		display: inline-block;
		margin: 20px;
		line-height: 40px;
	}
	.foot-gallery ul li p {
		color: #CACACA;
	}
	.foot-gallery ul li h2 {
		color: #525252;
	}
	.section7-center ul {
		display: inline-block;
		
	}
	.section7-center ul.full>li{
		height: 200px;
		width: 40%;
		display: inline-block;
		vertical-align: top;
	}
	.email ul{
		text-align: left;
	}
	.email ul li{
		list-style: none;
		margin: 30px
	}
	.email form ul li.input-name input {
		padding: 15px 200px 15px 20px;
		/*text-align: left;*/
	}
	.email form ul li.input-email input {
		padding: 15px 200px 15px 20px;
	}
	.email form ul li.input-messege textarea {
		padding: 15px;
		color: #B6A9AB;
		overflow: auto;
	}
	.section7-center .button1 {
		display: inline-block;
		margin: 50px 0 200px 0;
		padding: 20px 50px;
		border-radius: 10px;
		color: #fff;
		background-color: #9F449B;

	}
	.section7-center .button {
		display: inline-block;
		margin: 10px 0 200px 0;
		padding: 20px 50px;
		border-radius: 10px;
		color: #fff;
		background-color: #9F449B;
		font-size: 20px;
    	font-weight: 900;

	}
	.email-text {
		text-align: left;	
	}
	.email-text p {
		font-size: 20px;
		line-height: 29px;
		vertical-align: bottom;
	}
	
	.email-text p {
		margin-top: 20px;
		/*margin-bottom: 20px;*/
	}
	.email-text p.t{
		font-size: 20px;
	}
	.email-text p.m{
		margin: 0 0 30px 0;
		font-size: 20px;
	}
	
	.email-text ul li {
		display: inline-block;
		margin: 0 30px 0 0;
		border: 1px solid black;
		border-radius: 50%;
		text-align: center;
		padding: 10px 15px;
	}
	.email-text ul li img {
		height: 16px;
		width: auto;
	}
	.email-text ul li a {
		text-decoration: none;
		color: black;

	}

	.Bhagas {
		clear: both;
		text-align: center;
		font-family: 'Bubbler One', sans-serif;
		color: #7E7E7E;
	}